# Created by .ignore support plugin (hsz.mobi)
/.idea/
/classes/
/client/target/
/server/target/
/plugin/target/
/server/nrositem-server.iml
/client/nrositem-client.iml
/nrositem.iml
/logs/
*.iml
/start/target/

