<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.user.dao.mapper.generator.EnumConfigDOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.EnumConfigDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="field_code" jdbcType="VARCHAR" property="fieldCode" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, field_code, field_name, table_code, table_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nros_enum_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nros_enum_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.EnumConfigDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select nextval('nros_enum_config_id_seq')
    </selectKey>
    insert into nros_enum_config (id, field_code, field_name,
      table_code, table_name)
    values (#{id,jdbcType=BIGINT}, #{fieldCode,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, 
      #{tableCode,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.EnumConfigDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select nextval('nros_enum_config_id_seq')
    </selectKey>
    insert into nros_enum_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="fieldCode != null">
        field_code,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="tableCode != null">
        table_code,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="fieldCode != null">
        #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="tableCode != null">
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.EnumConfigDO">
    update nros_enum_config
    <set>
      <if test="fieldCode != null">
        field_code = #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="tableCode != null">
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.EnumConfigDO">
    update nros_enum_config
    set field_code = #{fieldCode,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      table_code = #{tableCode,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>