<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.user.dao.mapper.ChannelMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.ChannelDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="plat" jdbcType="SMALLINT" property="plat" />
    <result column="send_store_id" jdbcType="VARCHAR" property="sendStoreId" />
    <result column="refund_store_id" jdbcType="VARCHAR" property="refundStoreId" />
    <result column="link_man" jdbcType="VARCHAR" property="linkMan" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, number, name, type, plat, send_store_id, refund_store_id, link_man, mobile, 
    merchant_code, gmt_create, gmt_modified, creator, modifier, state
  </sql>


  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.ChannelDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select nextval('nros_channel_id_seq')
    </selectKey>
    insert into nros_channel (id, org_id, number,
    name, type, plat, send_store_id,
    refund_store_id, link_man, mobile,
    merchant_code, gmt_create, gmt_modified,
    creator, modifier, state
    )
    values (#{id,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{plat,jdbcType=VARCHAR}, #{sendStoreId,jdbcType=VARCHAR},
    #{refundStoreId,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
    #{merchantCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=DATE}, #{gmtModified,jdbcType=DATE},
    #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}
    )
  </insert>

  <select id="selectByOrgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nros_channel
    where org_id = #{orgId,jdbcType=BIGINT}
  </select>

  <select id="selectChannelList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nros_channel tc
    where 1=1
    <if test="channelDO.type != null and channelDO.type != ''">
      and tc.type = #{channelDO.type}
    </if>
    <if test="channelDO.name != null and channelDO.name != ''">
      and tc.name like concat('%',#{channelDO.name},'%')
    </if>
  </select>

  <update id="updateByOrgIdSelective" parameterType="com.ztesoft.zsmart.nros.sbc.user.dao.dataobject.generator.ChannelDO">
    update nros_channel
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="plat != null">
        plat = #{plat,jdbcType=VARCHAR},
      </if>
      <if test="sendStoreId != null">
        send_store_id = #{sendStoreId,jdbcType=VARCHAR},
      </if>
      <if test="refundStoreId != null">
        refund_store_id = #{refundStoreId,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null">
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=DATE},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=DATE},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=BIGINT}
  </update>
</mapper>