<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.user.server.dao.mapper.EnumConfigMapper">
    <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.user.server.dao.dataobject.generator.EnumConfigDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="field_code" jdbcType="VARCHAR" property="fieldCode"/>
        <result column="field_name" jdbcType="VARCHAR" property="fieldName"/>
        <result column="table_code" jdbcType="VARCHAR" property="tableCode"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, field_code, field_name, table_code, table_name
  </sql>
    <select id="queryEnumConfigListByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from nros_enum_config tec
        where 1=1
        <if test="enumConfigDO.tableCode != null and enumConfigDO.tableCode != ''">
            and tec.table_code = #{enumConfigDO.tableCode}
        </if>
        <if test="enumConfigDO.tableName != null and enumConfigDO.tableName != ''">
            and tec.table_name like concat('%',#{enumConfigDO.tableName},'%')
        </if>

    </select>
    <select id="queryAllEnumConfigType" resultMap="BaseResultMap">
        select distinct tec.table_name, tec.table_code
        from nros_enum_config tec
        where 1=1
    </select>
</mapper>