<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.user.server.dao.mapper.OrgMapper">
  <resultMap id="BaseOrgMap" type="com.ztesoft.zsmart.nros.sbc.user.server.dao.dataobject.generator.OrgDO">
    <id column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="parent_org_id" jdbcType="NUMERIC" property="parentOrgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_type" jdbcType="CHAR" property="orgType" />
    <result column="area_id" jdbcType="NUMERIC" property="areaId" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="state_date" jdbcType="TIMESTAMP" property="stateDate" />
    <result column="sp_id" jdbcType="NUMERIC" property="spId" />
    <result column="leader" jdbcType="NUMERIC" property="leader" />
  </resultMap>

  <sql id="Base_Column_List">
    org_id, parent_org_id, org_name, org_type, area_id, state, state_date, org_code, sp_id, leader
  </sql>

  <select id="getMaxOrgId" resultType="int">
		SELECT MAX(ORG_ID) AS COUNT
		FROM BFM_ORG
	</select>

  <select id="selectAllOrgList" resultMap="BaseOrgMap">
    SELECT DISTINCT A.ORG_ID,A.PARENT_ORG_ID
    FROM BFM_ORG A
    WHERE
    <if test="state != null and state != ''">
      A.STATE = #{state}
    </if>
    <if test="orgType != null and orgType != ''">
      AND A.ORG_TYPE = #{orgType}
    </if>
    <if test="spId != null">
      AND COALESCE(A.SP_ID,0) = #{spId}
    </if>
  </select>

  <select id="selectStaffOrgList" resultMap="BaseOrgMap">
    SELECT DISTINCT A.ORG_ID,A.PARENT_ORG_ID
    FROM BFM_ORG A,
    BFM_STAFF_ORG B
    WHERE
    A.ORG_ID = B.ORG_ID
    <if test="staffId != null and staffId != -1">
      AND B.STAFF_ID = #{staffId}
    </if>
    <if test="parentId != null and parentId != ''">
      AND A.PARENT_ORG_ID = #{parentId}
    </if>
    <if test="areaId != null and areaId != ''">
      AND AREA_ID = #{areaId}
    </if>
    <if test="orgCode != null and orgCode != ''">
      AND ORG_CODE = #{orgCode}
    </if>
    <if test="orgName != null and orgName != ''">
      AND ORG_NAME = #{orgName}
    </if>
    <if test="orgType != null and orgType != ''">
      AND ORG_TYPE = #{orgType}
    </if>
    <if test="state != null and state != ''">
      AND A.STATE = #{state} AND B.STATE = #{state}
    </if>
    <if test="spId != null and spId != ''">
      AND COALESCE(A.SP_ID,0) = #{spId} AND COALESCE(B.SP_ID,0) = #{spId}
    </if>
  </select>

   <select id="selectOrgListByIds" resultMap="BaseOrgMap">
    SELECT DISTINCT
    A.ORG_ID,A.PARENT_ORG_ID,
    A.AREA_ID,A.ORG_NAME,A.ORG_TYPE,A.STATE,A.STATE_DATE,A.ORG_CODE,A.SP_ID,A.LEADER
    FROM BFM_ORG A
    WHERE ORG_ID IN
    <foreach item="item" index="index" collection="orgIdsList"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    <if test="orgType != null and orgType != ''">
      AND A.ORG_TYPE = #{orgType}
    </if>
    <if test="state != null and state != ''">
      AND A.STATE = #{state}
    </if>
    <if test="areaId != null and areaId != ''">
      AND A.AREA_ID = #{areaId}
    </if>
    <if test="spId != null">
      AND A.SP_ID = #{spId}
    </if>
  </select>

  <select id="selectOrgListByParentId" resultMap="BaseOrgMap">
		select
		 A.ORG_ID,A.PARENT_ORG_ID,A.AREA_ID,A.ORG_NAME,A.ORG_TYPE,A.STATE,A.STATE_DATE,A.ORG_CODE,A.SP_ID,A.LEADER
		FROM BFM_ORG A
		WHERE
		A.PARENT_ORG_ID = #{orgId}
		AND A.STATE = 'A'
		ORDER BY
		A.ORG_ID
	</select>

  <select id="selectStaffDefaultOrg" resultMap="BaseOrgMap">
		SELECT A.ORG_ID,
		B.PARENT_ORG_ID, B.AREA_ID, B.ORG_NAME, B.ORG_TYPE,
		B.ORG_CODE
		FROM
		BFM_STAFF_ORG A, BFM_ORG B
		WHERE A.ORG_ID = B.ORG_ID AND A.STAFF_ID =
		#{staffId} AND A.IS_DEFAULT =
		'Y' AND A.STATE = 'A'
	</select>


  <select id="selectStaffOrg" resultType="com.ztesoft.zsmart.nros.sbc.user.server.dao.dataobject.StaffOrg">
    SELECT DISTINCT A.ORG_ID ORGID,A.PARENT_ORG_ID PARENTORGID,A.ORG_NAME ORGNAME,A.STATE,A.ORG_TYPE ORGTYPE,B.STAFF_ORG_ID STAFFORGID,
    B.STAFF_ID STAFFID,B.IS_DEFAULT ISDEFAULT
    FROM BFM_ORG A,
    BFM_STAFF_ORG B
    WHERE
    A.ORG_ID = B.ORG_ID AND A.STATE = 'A' AND B.STATE = 'A'
    <if test="staffId != null and staffId != -1">
      AND B.STAFF_ID = #{staffId}
    </if>
    <if test="orgType != null and orgType != ''">
      AND ORG_TYPE = #{orgType}
    </if>
  </select>

</mapper>