<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58A5012DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5012DO">
    <id column="szedoc" jdbcType="NUMERIC" property="szedoc" />
    <id column="szedct" jdbcType="VARCHAR" property="szedct" />
    <id column="szekco" jdbcType="VARCHAR" property="szekco" />
    <id column="szedln" jdbcType="NUMERIC" property="szedln" />
    <result column="szedty" jdbcType="CHAR" property="szedty" />
    <result column="szedsq" jdbcType="NUMERIC" property="szedsq" />
    <result column="szedst" jdbcType="VARCHAR" property="szedst" />
    <result column="szedft" jdbcType="VARCHAR" property="szedft" />
    <result column="szeddt" jdbcType="DATE" property="szeddt" />
    <result column="szeder" jdbcType="CHAR" property="szeder" />
    <result column="szeddl" jdbcType="NUMERIC" property="szeddl" />
    <result column="szedsp" jdbcType="CHAR" property="szedsp" />
    <result column="szedbt" jdbcType="VARCHAR" property="szedbt" />
    <result column="szpnid" jdbcType="VARCHAR" property="szpnid" />
    <result column="szkcoo" jdbcType="VARCHAR" property="szkcoo" />
    <result column="szdoco" jdbcType="NUMERIC" property="szdoco" />
    <result column="szdcto" jdbcType="VARCHAR" property="szdcto" />
    <result column="szlnid" jdbcType="NUMERIC" property="szlnid" />
    <result column="szsfxo" jdbcType="VARCHAR" property="szsfxo" />
    <result column="szmcu" jdbcType="VARCHAR" property="szmcu" />
    <result column="szco" jdbcType="VARCHAR" property="szco" />
    <result column="szokco" jdbcType="VARCHAR" property="szokco" />
    <result column="szoorn" jdbcType="VARCHAR" property="szoorn" />
    <result column="szocto" jdbcType="VARCHAR" property="szocto" />
    <result column="szogno" jdbcType="NUMERIC" property="szogno" />
    <result column="szrkco" jdbcType="VARCHAR" property="szrkco" />
    <result column="szrorn" jdbcType="VARCHAR" property="szrorn" />
    <result column="szrcto" jdbcType="VARCHAR" property="szrcto" />
    <result column="szrlln" jdbcType="NUMERIC" property="szrlln" />
    <result column="szdmct" jdbcType="VARCHAR" property="szdmct" />
    <result column="szdmcs" jdbcType="NUMERIC" property="szdmcs" />
    <result column="szan8" jdbcType="NUMERIC" property="szan8" />
    <result column="szshan" jdbcType="NUMERIC" property="szshan" />
    <result column="szpa8" jdbcType="NUMERIC" property="szpa8" />
    <result column="szdrqj" jdbcType="DATE" property="szdrqj" />
    <result column="sztrdj" jdbcType="DATE" property="sztrdj" />
    <result column="szpddj" jdbcType="DATE" property="szpddj" />
    <result column="szopdj" jdbcType="DATE" property="szopdj" />
    <result column="szaddj" jdbcType="DATE" property="szaddj" />
    <result column="szivd" jdbcType="DATE" property="szivd" />
    <result column="szcndj" jdbcType="DATE" property="szcndj" />
    <result column="szdgl" jdbcType="DATE" property="szdgl" />
    <result column="szrsdj" jdbcType="DATE" property="szrsdj" />
    <result column="szpefj" jdbcType="DATE" property="szpefj" />
    <result column="szppdj" jdbcType="DATE" property="szppdj" />
    <result column="szpsdj" jdbcType="DATE" property="szpsdj" />
    <result column="szvr01" jdbcType="VARCHAR" property="szvr01" />
    <result column="szvr02" jdbcType="VARCHAR" property="szvr02" />
    <result column="szitm" jdbcType="NUMERIC" property="szitm" />
    <result column="szlitm" jdbcType="VARCHAR" property="szlitm" />
    <result column="szaitm" jdbcType="VARCHAR" property="szaitm" />
    <result column="szcitm" jdbcType="VARCHAR" property="szcitm" />
    <result column="szlocn" jdbcType="VARCHAR" property="szlocn" />
    <result column="szlotn" jdbcType="VARCHAR" property="szlotn" />
    <result column="szfrgd" jdbcType="VARCHAR" property="szfrgd" />
    <result column="szthgd" jdbcType="VARCHAR" property="szthgd" />
    <result column="szfrmp" jdbcType="NUMERIC" property="szfrmp" />
    <result column="szthrp" jdbcType="NUMERIC" property="szthrp" />
    <result column="szexdp" jdbcType="NUMERIC" property="szexdp" />
    <result column="szdsc1" jdbcType="VARCHAR" property="szdsc1" />
    <result column="szdsc2" jdbcType="VARCHAR" property="szdsc2" />
    <result column="szlnty" jdbcType="VARCHAR" property="szlnty" />
    <result column="sznxtr" jdbcType="VARCHAR" property="sznxtr" />
    <result column="szlttr" jdbcType="VARCHAR" property="szlttr" />
    <result column="szemcu" jdbcType="VARCHAR" property="szemcu" />
    <result column="szrlit" jdbcType="VARCHAR" property="szrlit" />
    <result column="szktln" jdbcType="NUMERIC" property="szktln" />
    <result column="szcpnt" jdbcType="NUMERIC" property="szcpnt" />
    <result column="szrkit" jdbcType="NUMERIC" property="szrkit" />
    <result column="szktp" jdbcType="NUMERIC" property="szktp" />
    <result column="szsrp1" jdbcType="VARCHAR" property="szsrp1" />
    <result column="szsrp2" jdbcType="VARCHAR" property="szsrp2" />
    <result column="szsrp3" jdbcType="VARCHAR" property="szsrp3" />
    <result column="szsrp4" jdbcType="VARCHAR" property="szsrp4" />
    <result column="szsrp5" jdbcType="VARCHAR" property="szsrp5" />
    <result column="szprp1" jdbcType="VARCHAR" property="szprp1" />
    <result column="szprp2" jdbcType="VARCHAR" property="szprp2" />
    <result column="szprp3" jdbcType="VARCHAR" property="szprp3" />
    <result column="szprp4" jdbcType="VARCHAR" property="szprp4" />
    <result column="szprp5" jdbcType="VARCHAR" property="szprp5" />
    <result column="szuom" jdbcType="VARCHAR" property="szuom" />
    <result column="szuorg" jdbcType="NUMERIC" property="szuorg" />
    <result column="szsoqs" jdbcType="NUMERIC" property="szsoqs" />
    <result column="szsobk" jdbcType="NUMERIC" property="szsobk" />
    <result column="szsocn" jdbcType="NUMERIC" property="szsocn" />
    <result column="szsone" jdbcType="NUMERIC" property="szsone" />
    <result column="szuopn" jdbcType="NUMERIC" property="szuopn" />
    <result column="szqtyt" jdbcType="NUMERIC" property="szqtyt" />
    <result column="szqrlv" jdbcType="NUMERIC" property="szqrlv" />
    <result column="szcomm" jdbcType="CHAR" property="szcomm" />
    <result column="szotqy" jdbcType="CHAR" property="szotqy" />
    <result column="szuprc" jdbcType="NUMERIC" property="szuprc" />
    <result column="szaexp" jdbcType="NUMERIC" property="szaexp" />
    <result column="szaopn" jdbcType="NUMERIC" property="szaopn" />
    <result column="szprov" jdbcType="CHAR" property="szprov" />
    <result column="sztpc" jdbcType="CHAR" property="sztpc" />
    <result column="szapum" jdbcType="VARCHAR" property="szapum" />
    <result column="szlprc" jdbcType="NUMERIC" property="szlprc" />
    <result column="szuncs" jdbcType="NUMERIC" property="szuncs" />
    <result column="szecst" jdbcType="NUMERIC" property="szecst" />
    <result column="szcsto" jdbcType="CHAR" property="szcsto" />
    <result column="sztcst" jdbcType="NUMERIC" property="sztcst" />
    <result column="szinmg" jdbcType="VARCHAR" property="szinmg" />
    <result column="szptc" jdbcType="VARCHAR" property="szptc" />
    <result column="szryin" jdbcType="CHAR" property="szryin" />
    <result column="szdtbs" jdbcType="CHAR" property="szdtbs" />
    <result column="sztrdc" jdbcType="NUMERIC" property="sztrdc" />
    <result column="szfun2" jdbcType="NUMERIC" property="szfun2" />
    <result column="szasn" jdbcType="VARCHAR" property="szasn" />
    <result column="szprgr" jdbcType="VARCHAR" property="szprgr" />
    <result column="szclvl" jdbcType="VARCHAR" property="szclvl" />
    <result column="szdspr" jdbcType="NUMERIC" property="szdspr" />
    <result column="szdsft" jdbcType="CHAR" property="szdsft" />
    <result column="szfapp" jdbcType="CHAR" property="szfapp" />
    <result column="szcadc" jdbcType="NUMERIC" property="szcadc" />
    <result column="szkco" jdbcType="VARCHAR" property="szkco" />
    <result column="szdoc" jdbcType="NUMERIC" property="szdoc" />
    <result column="szdct" jdbcType="VARCHAR" property="szdct" />
    <result column="szodoc" jdbcType="NUMERIC" property="szodoc" />
    <result column="szodct" jdbcType="VARCHAR" property="szodct" />
    <result column="szokc" jdbcType="VARCHAR" property="szokc" />
    <result column="szpsn" jdbcType="NUMERIC" property="szpsn" />
    <result column="szdeln" jdbcType="NUMERIC" property="szdeln" />
    <result column="sztax1" jdbcType="CHAR" property="sztax1" />
    <result column="sztxa1" jdbcType="VARCHAR" property="sztxa1" />
    <result column="szexr1" jdbcType="VARCHAR" property="szexr1" />
    <result column="szatxt" jdbcType="CHAR" property="szatxt" />
    <result column="szprio" jdbcType="CHAR" property="szprio" />
    <result column="szresl" jdbcType="CHAR" property="szresl" />
    <result column="szback" jdbcType="CHAR" property="szback" />
    <result column="szsbal" jdbcType="CHAR" property="szsbal" />
    <result column="szapts" jdbcType="CHAR" property="szapts" />
    <result column="szlob" jdbcType="VARCHAR" property="szlob" />
    <result column="szeuse" jdbcType="VARCHAR" property="szeuse" />
    <result column="szdtys" jdbcType="VARCHAR" property="szdtys" />
    <result column="szntr" jdbcType="VARCHAR" property="szntr" />
    <result column="szvend" jdbcType="NUMERIC" property="szvend" />
    <result column="szanby" jdbcType="NUMERIC" property="szanby" />
    <result column="szcars" jdbcType="NUMERIC" property="szcars" />
    <result column="szmot" jdbcType="VARCHAR" property="szmot" />
    <result column="szcot" jdbcType="VARCHAR" property="szcot" />
    <result column="szrout" jdbcType="VARCHAR" property="szrout" />
    <result column="szstop" jdbcType="VARCHAR" property="szstop" />
    <result column="szzon" jdbcType="VARCHAR" property="szzon" />
    <result column="szcnid" jdbcType="VARCHAR" property="szcnid" />
    <result column="szfrth" jdbcType="VARCHAR" property="szfrth" />
    <result column="szaft" jdbcType="CHAR" property="szaft" />
    <result column="szfuf1" jdbcType="CHAR" property="szfuf1" />
    <result column="szfrtc" jdbcType="CHAR" property="szfrtc" />
    <result column="szfrat" jdbcType="VARCHAR" property="szfrat" />
    <result column="szratt" jdbcType="CHAR" property="szratt" />
    <result column="szshcm" jdbcType="VARCHAR" property="szshcm" />
    <result column="szshcn" jdbcType="VARCHAR" property="szshcn" />
    <result column="szsern" jdbcType="VARCHAR" property="szsern" />
    <result column="szuom1" jdbcType="VARCHAR" property="szuom1" />
    <result column="szpqor" jdbcType="NUMERIC" property="szpqor" />
    <result column="szuom2" jdbcType="VARCHAR" property="szuom2" />
    <result column="szsqor" jdbcType="NUMERIC" property="szsqor" />
    <result column="szuom4" jdbcType="VARCHAR" property="szuom4" />
    <result column="szitwt" jdbcType="NUMERIC" property="szitwt" />
    <result column="szwtum" jdbcType="VARCHAR" property="szwtum" />
    <result column="szitvl" jdbcType="NUMERIC" property="szitvl" />
    <result column="szvlum" jdbcType="VARCHAR" property="szvlum" />
    <result column="szrprc" jdbcType="VARCHAR" property="szrprc" />
    <result column="szorpr" jdbcType="VARCHAR" property="szorpr" />
    <result column="szorp" jdbcType="CHAR" property="szorp" />
    <result column="szcmgp" jdbcType="VARCHAR" property="szcmgp" />
    <result column="szcmgl" jdbcType="CHAR" property="szcmgl" />
    <result column="szglc" jdbcType="VARCHAR" property="szglc" />
    <result column="szctry" jdbcType="NUMERIC" property="szctry" />
    <result column="szfy" jdbcType="NUMERIC" property="szfy" />
    <result column="szstts" jdbcType="VARCHAR" property="szstts" />
    <result column="szso01" jdbcType="CHAR" property="szso01" />
    <result column="szso02" jdbcType="CHAR" property="szso02" />
    <result column="szso03" jdbcType="CHAR" property="szso03" />
    <result column="szso04" jdbcType="CHAR" property="szso04" />
    <result column="szso05" jdbcType="CHAR" property="szso05" />
    <result column="szso06" jdbcType="CHAR" property="szso06" />
    <result column="szso07" jdbcType="CHAR" property="szso07" />
    <result column="szso08" jdbcType="CHAR" property="szso08" />
    <result column="szso09" jdbcType="CHAR" property="szso09" />
    <result column="szso10" jdbcType="CHAR" property="szso10" />
    <result column="szso11" jdbcType="CHAR" property="szso11" />
    <result column="szso12" jdbcType="CHAR" property="szso12" />
    <result column="szso13" jdbcType="CHAR" property="szso13" />
    <result column="szso14" jdbcType="CHAR" property="szso14" />
    <result column="szso15" jdbcType="CHAR" property="szso15" />
    <result column="szacom" jdbcType="CHAR" property="szacom" />
    <result column="szcmcg" jdbcType="VARCHAR" property="szcmcg" />
    <result column="szrcd" jdbcType="VARCHAR" property="szrcd" />
    <result column="szgrwt" jdbcType="NUMERIC" property="szgrwt" />
    <result column="szgwum" jdbcType="VARCHAR" property="szgwum" />
    <result column="szani" jdbcType="VARCHAR" property="szani" />
    <result column="szaid" jdbcType="VARCHAR" property="szaid" />
    <result column="szomcu" jdbcType="VARCHAR" property="szomcu" />
    <result column="szobj" jdbcType="VARCHAR" property="szobj" />
    <result column="szsub" jdbcType="VARCHAR" property="szsub" />
    <result column="szlt" jdbcType="VARCHAR" property="szlt" />
    <result column="szsbl" jdbcType="VARCHAR" property="szsbl" />
    <result column="szsblt" jdbcType="CHAR" property="szsblt" />
    <result column="szlcod" jdbcType="VARCHAR" property="szlcod" />
    <result column="szupc1" jdbcType="VARCHAR" property="szupc1" />
    <result column="szupc2" jdbcType="VARCHAR" property="szupc2" />
    <result column="szupc3" jdbcType="VARCHAR" property="szupc3" />
    <result column="szswms" jdbcType="CHAR" property="szswms" />
    <result column="szuncd" jdbcType="CHAR" property="szuncd" />
    <result column="szcrmd" jdbcType="CHAR" property="szcrmd" />
    <result column="szcrcd" jdbcType="VARCHAR" property="szcrcd" />
    <result column="szcrr" jdbcType="NUMERIC" property="szcrr" />
    <result column="szfprc" jdbcType="NUMERIC" property="szfprc" />
    <result column="szfup" jdbcType="NUMERIC" property="szfup" />
    <result column="szfea" jdbcType="NUMERIC" property="szfea" />
    <result column="szfuc" jdbcType="NUMERIC" property="szfuc" />
    <result column="szfec" jdbcType="NUMERIC" property="szfec" />
    <result column="szurcd" jdbcType="VARCHAR" property="szurcd" />
    <result column="szurdt" jdbcType="DATE" property="szurdt" />
    <result column="szurat" jdbcType="NUMERIC" property="szurat" />
    <result column="szurab" jdbcType="NUMERIC" property="szurab" />
    <result column="szurrf" jdbcType="NUMERIC" property="szurrf" />
    <result column="sztorg" jdbcType="VARCHAR" property="sztorg" />
    <result column="szuser" jdbcType="VARCHAR" property="szuser" />
    <result column="szpid" jdbcType="VARCHAR" property="szpid" />
    <result column="szjobn" jdbcType="VARCHAR" property="szjobn" />
    <result column="szupmj" jdbcType="DATE" property="szupmj" />
    <result column="sztday" jdbcType="NUMERIC" property="sztday" />
    <result column="szir01" jdbcType="VARCHAR" property="szir01" />
    <result column="szir02" jdbcType="VARCHAR" property="szir02" />
    <result column="szir03" jdbcType="VARCHAR" property="szir03" />
    <result column="szir04" jdbcType="VARCHAR" property="szir04" />
    <result column="szir05" jdbcType="VARCHAR" property="szir05" />
    <result column="szsoor" jdbcType="NUMERIC" property="szsoor" />
    <result column="szdeid" jdbcType="NUMERIC" property="szdeid" />
    <result column="szpsig" jdbcType="VARCHAR" property="szpsig" />
    <result column="szrlnu" jdbcType="VARCHAR" property="szrlnu" />
    <result column="szpmdt" jdbcType="NUMERIC" property="szpmdt" />
    <result column="szrltm" jdbcType="NUMERIC" property="szrltm" />
    <result column="szrldj" jdbcType="DATE" property="szrldj" />
    <result column="szdrqt" jdbcType="NUMERIC" property="szdrqt" />
    <result column="szadtm" jdbcType="NUMERIC" property="szadtm" />
    <result column="szoptt" jdbcType="NUMERIC" property="szoptt" />
    <result column="szpdtt" jdbcType="NUMERIC" property="szpdtt" />
    <result column="szpstm" jdbcType="NUMERIC" property="szpstm" />
    <result column="szpmtn" jdbcType="VARCHAR" property="szpmtn" />
    <result column="szbsc" jdbcType="VARCHAR" property="szbsc" />
    <result column="szcbsc" jdbcType="VARCHAR" property="szcbsc" />
    <result column="szdvan" jdbcType="NUMERIC" property="szdvan" />
    <result column="szrfrv" jdbcType="VARCHAR" property="szrfrv" />
    <result column="szshpn" jdbcType="NUMERIC" property="szshpn" />
    <result column="szprjm" jdbcType="NUMERIC" property="szprjm" />
    <result column="szhold" jdbcType="VARCHAR" property="szhold" />
    <result column="szpmto" jdbcType="CHAR" property="szpmto" />
    <result column="szdual" jdbcType="CHAR" property="szdual" />
    <result column="szpodc01" jdbcType="VARCHAR" property="szpodc01" />
    <result column="szpodc02" jdbcType="VARCHAR" property="szpodc02" />
    <result column="szpodc03" jdbcType="VARCHAR" property="szpodc03" />
    <result column="szpodc04" jdbcType="VARCHAR" property="szpodc04" />
    <result column="szjbcd" jdbcType="VARCHAR" property="szjbcd" />
    <result column="szsrqty" jdbcType="NUMERIC" property="szsrqty" />
    <result column="szsruom" jdbcType="VARCHAR" property="szsruom" />
    <result column="szcfgfl" jdbcType="CHAR" property="szcfgfl" />
    <result column="szgan8" jdbcType="NUMERIC" property="szgan8" />
    <result column="szgshan" jdbcType="NUMERIC" property="szgshan" />
    <result column="szgpa8" jdbcType="NUMERIC" property="szgpa8" />
    <result column="szgvend" jdbcType="NUMERIC" property="szgvend" />
    <result column="szgcars" jdbcType="NUMERIC" property="szgcars" />
    <result column="szgdvan" jdbcType="NUMERIC" property="szgdvan" />
    <result column="szpmpn" jdbcType="VARCHAR" property="szpmpn" />
    <result column="szuorgr" jdbcType="NUMERIC" property="szuorgr" />
    <result column="szuom8" jdbcType="VARCHAR" property="szuom8" />
    <result column="szuorge1" jdbcType="NUMERIC" property="szuorge1" />
    <result column="szuom9" jdbcType="VARCHAR" property="szuom9" />
    <result column="szflag" jdbcType="CHAR" property="szflag" />
  </resultMap>
  <sql id="Base_Column_List">
    szedoc, szedct, szekco, szedln, szedty, szedsq, szedst, szedft, szeddt, szeder, szeddl, 
    szedsp, szedbt, szpnid, szkcoo, szdoco, szdcto, szlnid, szsfxo, szmcu, szco, szokco, 
    szoorn, szocto, szogno, szrkco, szrorn, szrcto, szrlln, szdmct, szdmcs, szan8, szshan, 
    szpa8, szdrqj, sztrdj, szpddj, szopdj, szaddj, szivd, szcndj, szdgl, szrsdj, szpefj, 
    szppdj, szpsdj, szvr01, szvr02, szitm, szlitm, szaitm, szcitm, szlocn, szlotn, szfrgd, 
    szthgd, szfrmp, szthrp, szexdp, szdsc1, szdsc2, szlnty, sznxtr, szlttr, szemcu, szrlit, 
    szktln, szcpnt, szrkit, szktp, szsrp1, szsrp2, szsrp3, szsrp4, szsrp5, szprp1, szprp2, 
    szprp3, szprp4, szprp5, szuom, szuorg, szsoqs, szsobk, szsocn, szsone, szuopn, szqtyt, 
    szqrlv, szcomm, szotqy, szuprc, szaexp, szaopn, szprov, sztpc, szapum, szlprc, szuncs, 
    szecst, szcsto, sztcst, szinmg, szptc, szryin, szdtbs, sztrdc, szfun2, szasn, szprgr, 
    szclvl, szdspr, szdsft, szfapp, szcadc, szkco, szdoc, szdct, szodoc, szodct, szokc, 
    szpsn, szdeln, sztax1, sztxa1, szexr1, szatxt, szprio, szresl, szback, szsbal, szapts, 
    szlob, szeuse, szdtys, szntr, szvend, szanby, szcars, szmot, szcot, szrout, szstop, 
    szzon, szcnid, szfrth, szaft, szfuf1, szfrtc, szfrat, szratt, szshcm, szshcn, szsern, 
    szuom1, szpqor, szuom2, szsqor, szuom4, szitwt, szwtum, szitvl, szvlum, szrprc, szorpr, 
    szorp, szcmgp, szcmgl, szglc, szctry, szfy, szstts, szso01, szso02, szso03, szso04, 
    szso05, szso06, szso07, szso08, szso09, szso10, szso11, szso12, szso13, szso14, szso15, 
    szacom, szcmcg, szrcd, szgrwt, szgwum, szani, szaid, szomcu, szobj, szsub, szlt, 
    szsbl, szsblt, szlcod, szupc1, szupc2, szupc3, szswms, szuncd, szcrmd, szcrcd, szcrr, 
    szfprc, szfup, szfea, szfuc, szfec, szurcd, szurdt, szurat, szurab, szurrf, sztorg, 
    szuser, szpid, szjobn, szupmj, sztday, szir01, szir02, szir03, szir04, szir05, szsoor, 
    szdeid, szpsig, szrlnu, szpmdt, szrltm, szrldj, szdrqt, szadtm, szoptt, szpdtt, szpstm, 
    szpmtn, szbsc, szcbsc, szdvan, szrfrv, szshpn, szprjm, szhold, szpmto, szdual, szpodc01, 
    szpodc02, szpodc03, szpodc04, szjbcd, szsrqty, szsruom, szcfgfl, szgan8, szgshan, 
    szgpa8, szgvend, szgcars, szgdvan, szpmpn, szuorgr, szuom8, szuorge1, szuom9, szflag
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5012DO">
    insert into f58a5012 (
    <include refid="Base_Column_List"/>
    )
    values (#{szedoc,jdbcType=NUMERIC}, #{szedct,jdbcType=VARCHAR}, #{szekco,jdbcType=VARCHAR}, 
      #{szedln,jdbcType=NUMERIC}, #{szedty,jdbcType=CHAR}, #{szedsq,jdbcType=NUMERIC}, 
      #{szedst,jdbcType=VARCHAR}, #{szedft,jdbcType=VARCHAR}, #{szeddt,jdbcType=DATE}, 
      #{szeder,jdbcType=CHAR}, #{szeddl,jdbcType=NUMERIC}, #{szedsp,jdbcType=CHAR}, #{szedbt,jdbcType=VARCHAR}, 
      #{szpnid,jdbcType=VARCHAR}, #{szkcoo,jdbcType=VARCHAR}, #{szdoco,jdbcType=NUMERIC}, 
      #{szdcto,jdbcType=VARCHAR}, #{szlnid,jdbcType=NUMERIC}, #{szsfxo,jdbcType=VARCHAR}, 
      #{szmcu,jdbcType=VARCHAR}, #{szco,jdbcType=VARCHAR}, #{szokco,jdbcType=VARCHAR}, 
      #{szoorn,jdbcType=VARCHAR}, #{szocto,jdbcType=VARCHAR}, #{szogno,jdbcType=NUMERIC}, 
      #{szrkco,jdbcType=VARCHAR}, #{szrorn,jdbcType=VARCHAR}, #{szrcto,jdbcType=VARCHAR}, 
      #{szrlln,jdbcType=NUMERIC}, #{szdmct,jdbcType=VARCHAR}, #{szdmcs,jdbcType=NUMERIC}, 
      #{szan8,jdbcType=NUMERIC}, #{szshan,jdbcType=NUMERIC}, #{szpa8,jdbcType=NUMERIC}, 
      #{szdrqj,jdbcType=DATE}, #{sztrdj,jdbcType=DATE}, #{szpddj,jdbcType=DATE}, #{szopdj,jdbcType=DATE}, 
      #{szaddj,jdbcType=DATE}, #{szivd,jdbcType=DATE}, #{szcndj,jdbcType=DATE}, #{szdgl,jdbcType=DATE}, 
      #{szrsdj,jdbcType=DATE}, #{szpefj,jdbcType=DATE}, #{szppdj,jdbcType=DATE}, #{szpsdj,jdbcType=DATE}, 
      #{szvr01,jdbcType=VARCHAR}, #{szvr02,jdbcType=VARCHAR}, #{szitm,jdbcType=NUMERIC}, 
      #{szlitm,jdbcType=VARCHAR}, #{szaitm,jdbcType=VARCHAR}, #{szcitm,jdbcType=VARCHAR}, 
      #{szlocn,jdbcType=VARCHAR}, #{szlotn,jdbcType=VARCHAR}, #{szfrgd,jdbcType=VARCHAR}, 
      #{szthgd,jdbcType=VARCHAR}, #{szfrmp,jdbcType=NUMERIC}, #{szthrp,jdbcType=NUMERIC}, 
      #{szexdp,jdbcType=NUMERIC}, #{szdsc1,jdbcType=VARCHAR}, #{szdsc2,jdbcType=VARCHAR}, 
      #{szlnty,jdbcType=VARCHAR}, #{sznxtr,jdbcType=VARCHAR}, #{szlttr,jdbcType=VARCHAR}, 
      #{szemcu,jdbcType=VARCHAR}, #{szrlit,jdbcType=VARCHAR}, #{szktln,jdbcType=NUMERIC}, 
      #{szcpnt,jdbcType=NUMERIC}, #{szrkit,jdbcType=NUMERIC}, #{szktp,jdbcType=NUMERIC}, 
      #{szsrp1,jdbcType=VARCHAR}, #{szsrp2,jdbcType=VARCHAR}, #{szsrp3,jdbcType=VARCHAR}, 
      #{szsrp4,jdbcType=VARCHAR}, #{szsrp5,jdbcType=VARCHAR}, #{szprp1,jdbcType=VARCHAR}, 
      #{szprp2,jdbcType=VARCHAR}, #{szprp3,jdbcType=VARCHAR}, #{szprp4,jdbcType=VARCHAR}, 
      #{szprp5,jdbcType=VARCHAR}, #{szuom,jdbcType=VARCHAR}, #{szuorg,jdbcType=NUMERIC}, 
      #{szsoqs,jdbcType=NUMERIC}, #{szsobk,jdbcType=NUMERIC}, #{szsocn,jdbcType=NUMERIC}, 
      #{szsone,jdbcType=NUMERIC}, #{szuopn,jdbcType=NUMERIC}, #{szqtyt,jdbcType=NUMERIC}, 
      #{szqrlv,jdbcType=NUMERIC}, #{szcomm,jdbcType=CHAR}, #{szotqy,jdbcType=CHAR}, #{szuprc,jdbcType=NUMERIC}, 
      #{szaexp,jdbcType=NUMERIC}, #{szaopn,jdbcType=NUMERIC}, #{szprov,jdbcType=CHAR}, 
      #{sztpc,jdbcType=CHAR}, #{szapum,jdbcType=VARCHAR}, #{szlprc,jdbcType=NUMERIC}, 
      #{szuncs,jdbcType=NUMERIC}, #{szecst,jdbcType=NUMERIC}, #{szcsto,jdbcType=CHAR}, 
      #{sztcst,jdbcType=NUMERIC}, #{szinmg,jdbcType=VARCHAR}, #{szptc,jdbcType=VARCHAR}, 
      #{szryin,jdbcType=CHAR}, #{szdtbs,jdbcType=CHAR}, #{sztrdc,jdbcType=NUMERIC}, #{szfun2,jdbcType=NUMERIC}, 
      #{szasn,jdbcType=VARCHAR}, #{szprgr,jdbcType=VARCHAR}, #{szclvl,jdbcType=VARCHAR}, 
      #{szdspr,jdbcType=NUMERIC}, #{szdsft,jdbcType=CHAR}, #{szfapp,jdbcType=CHAR}, #{szcadc,jdbcType=NUMERIC}, 
      #{szkco,jdbcType=VARCHAR}, #{szdoc,jdbcType=NUMERIC}, #{szdct,jdbcType=VARCHAR}, 
      #{szodoc,jdbcType=NUMERIC}, #{szodct,jdbcType=VARCHAR}, #{szokc,jdbcType=VARCHAR}, 
      #{szpsn,jdbcType=NUMERIC}, #{szdeln,jdbcType=NUMERIC}, #{sztax1,jdbcType=CHAR}, 
      #{sztxa1,jdbcType=VARCHAR}, #{szexr1,jdbcType=VARCHAR}, #{szatxt,jdbcType=CHAR}, 
      #{szprio,jdbcType=CHAR}, #{szresl,jdbcType=CHAR}, #{szback,jdbcType=CHAR}, #{szsbal,jdbcType=CHAR}, 
      #{szapts,jdbcType=CHAR}, #{szlob,jdbcType=VARCHAR}, #{szeuse,jdbcType=VARCHAR}, 
      #{szdtys,jdbcType=VARCHAR}, #{szntr,jdbcType=VARCHAR}, #{szvend,jdbcType=NUMERIC}, 
      #{szanby,jdbcType=NUMERIC}, #{szcars,jdbcType=NUMERIC}, #{szmot,jdbcType=VARCHAR}, 
      #{szcot,jdbcType=VARCHAR}, #{szrout,jdbcType=VARCHAR}, #{szstop,jdbcType=VARCHAR}, 
      #{szzon,jdbcType=VARCHAR}, #{szcnid,jdbcType=VARCHAR}, #{szfrth,jdbcType=VARCHAR}, 
      #{szaft,jdbcType=CHAR}, #{szfuf1,jdbcType=CHAR}, #{szfrtc,jdbcType=CHAR}, #{szfrat,jdbcType=VARCHAR}, 
      #{szratt,jdbcType=CHAR}, #{szshcm,jdbcType=VARCHAR}, #{szshcn,jdbcType=VARCHAR}, 
      #{szsern,jdbcType=VARCHAR}, #{szuom1,jdbcType=VARCHAR}, #{szpqor,jdbcType=NUMERIC}, 
      #{szuom2,jdbcType=VARCHAR}, #{szsqor,jdbcType=NUMERIC}, #{szuom4,jdbcType=VARCHAR}, 
      #{szitwt,jdbcType=NUMERIC}, #{szwtum,jdbcType=VARCHAR}, #{szitvl,jdbcType=NUMERIC}, 
      #{szvlum,jdbcType=VARCHAR}, #{szrprc,jdbcType=VARCHAR}, #{szorpr,jdbcType=VARCHAR}, 
      #{szorp,jdbcType=CHAR}, #{szcmgp,jdbcType=VARCHAR}, #{szcmgl,jdbcType=CHAR}, #{szglc,jdbcType=VARCHAR}, 
      #{szctry,jdbcType=NUMERIC}, #{szfy,jdbcType=NUMERIC}, #{szstts,jdbcType=VARCHAR}, 
      #{szso01,jdbcType=CHAR}, #{szso02,jdbcType=CHAR}, #{szso03,jdbcType=CHAR}, #{szso04,jdbcType=CHAR}, 
      #{szso05,jdbcType=CHAR}, #{szso06,jdbcType=CHAR}, #{szso07,jdbcType=CHAR}, #{szso08,jdbcType=CHAR}, 
      #{szso09,jdbcType=CHAR}, #{szso10,jdbcType=CHAR}, #{szso11,jdbcType=CHAR}, #{szso12,jdbcType=CHAR}, 
      #{szso13,jdbcType=CHAR}, #{szso14,jdbcType=CHAR}, #{szso15,jdbcType=CHAR}, #{szacom,jdbcType=CHAR}, 
      #{szcmcg,jdbcType=VARCHAR}, #{szrcd,jdbcType=VARCHAR}, #{szgrwt,jdbcType=NUMERIC}, 
      #{szgwum,jdbcType=VARCHAR}, #{szani,jdbcType=VARCHAR}, #{szaid,jdbcType=VARCHAR}, 
      #{szomcu,jdbcType=VARCHAR}, #{szobj,jdbcType=VARCHAR}, #{szsub,jdbcType=VARCHAR}, 
      #{szlt,jdbcType=VARCHAR}, #{szsbl,jdbcType=VARCHAR}, #{szsblt,jdbcType=CHAR}, #{szlcod,jdbcType=VARCHAR}, 
      #{szupc1,jdbcType=VARCHAR}, #{szupc2,jdbcType=VARCHAR}, #{szupc3,jdbcType=VARCHAR}, 
      #{szswms,jdbcType=CHAR}, #{szuncd,jdbcType=CHAR}, #{szcrmd,jdbcType=CHAR}, #{szcrcd,jdbcType=VARCHAR}, 
      #{szcrr,jdbcType=NUMERIC}, #{szfprc,jdbcType=NUMERIC}, #{szfup,jdbcType=NUMERIC}, 
      #{szfea,jdbcType=NUMERIC}, #{szfuc,jdbcType=NUMERIC}, #{szfec,jdbcType=NUMERIC}, 
      #{szurcd,jdbcType=VARCHAR}, #{szurdt,jdbcType=DATE}, #{szurat,jdbcType=NUMERIC}, 
      #{szurab,jdbcType=NUMERIC}, #{szurrf,jdbcType=NUMERIC}, #{sztorg,jdbcType=VARCHAR}, 
      #{szuser,jdbcType=VARCHAR}, #{szpid,jdbcType=VARCHAR}, #{szjobn,jdbcType=VARCHAR}, 
      #{szupmj,jdbcType=DATE}, #{sztday,jdbcType=NUMERIC}, #{szir01,jdbcType=VARCHAR}, 
      #{szir02,jdbcType=VARCHAR}, #{szir03,jdbcType=VARCHAR}, #{szir04,jdbcType=VARCHAR}, 
      #{szir05,jdbcType=VARCHAR}, #{szsoor,jdbcType=NUMERIC}, #{szdeid,jdbcType=NUMERIC}, 
      #{szpsig,jdbcType=VARCHAR}, #{szrlnu,jdbcType=VARCHAR}, #{szpmdt,jdbcType=NUMERIC}, 
      #{szrltm,jdbcType=NUMERIC}, #{szrldj,jdbcType=DATE}, #{szdrqt,jdbcType=NUMERIC}, 
      #{szadtm,jdbcType=NUMERIC}, #{szoptt,jdbcType=NUMERIC}, #{szpdtt,jdbcType=NUMERIC}, 
      #{szpstm,jdbcType=NUMERIC}, #{szpmtn,jdbcType=VARCHAR}, #{szbsc,jdbcType=VARCHAR}, 
      #{szcbsc,jdbcType=VARCHAR}, #{szdvan,jdbcType=NUMERIC}, #{szrfrv,jdbcType=VARCHAR}, 
      #{szshpn,jdbcType=NUMERIC}, #{szprjm,jdbcType=NUMERIC}, #{szhold,jdbcType=VARCHAR}, 
      #{szpmto,jdbcType=CHAR}, #{szdual,jdbcType=CHAR}, #{szpodc01,jdbcType=VARCHAR}, 
      #{szpodc02,jdbcType=VARCHAR}, #{szpodc03,jdbcType=VARCHAR}, #{szpodc04,jdbcType=VARCHAR}, 
      #{szjbcd,jdbcType=VARCHAR}, #{szsrqty,jdbcType=NUMERIC}, #{szsruom,jdbcType=VARCHAR}, 
      #{szcfgfl,jdbcType=CHAR}, #{szgan8,jdbcType=NUMERIC}, #{szgshan,jdbcType=NUMERIC}, 
      #{szgpa8,jdbcType=NUMERIC}, #{szgvend,jdbcType=NUMERIC}, #{szgcars,jdbcType=NUMERIC}, 
      #{szgdvan,jdbcType=NUMERIC}, #{szpmpn,jdbcType=VARCHAR}, #{szuorgr,jdbcType=NUMERIC}, 
      #{szuom8,jdbcType=VARCHAR}, #{szuorge1,jdbcType=NUMERIC}, #{szuom9,jdbcType=VARCHAR}, 
      #{szflag,jdbcType=CHAR})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5012DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58a5012
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>
</mapper>