<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58A5014DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5014DO">
    <id column="ztvr01" jdbcType="CHAR" property="ztvr01" />
    <result column="ztedsp" jdbcType="CHAR" property="ztedsp" />
    <result column="ztdl01" jdbcType="CHAR" property="ztdl01" />
    <result column="ztpid" jdbcType="CHAR" property="ztpid" />
    <result column="ztuser" jdbcType="CHAR" property="ztuser" />
    <result column="ztupmj" jdbcType="DATE" property="ztupmj" />
    <result column="ztupmt" jdbcType="VARCHAR" property="ztupmt" />
    <result column="ztjobn" jdbcType="CHAR" property="ztjobn" />
    <result column="zturcd" jdbcType="CHAR" property="zturcd" />
    <result column="zturdt" jdbcType="DATE" property="zturdt" />
    <result column="zturat" jdbcType="NUMERIC" property="zturat" />
    <result column="zturab" jdbcType="NUMERIC" property="zturab" />
    <result column="zturrf" jdbcType="CHAR" property="zturrf" />
    <result column="ztflag" jdbcType="CHAR" property="ztflag" />
    <result column="ztlnid" jdbcType="NUMERIC" property="ztlnid" />
  </resultMap>
  <sql id="Base_Column_List">
    ztvr01, ztedsp, ztdl01, ztpid, ztuser, ztupmj, ztupmt, ztjobn, zturcd, zturdt, zturat, 
    zturab, zturrf, ztflag, ztlnid
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5014DO">
    insert into f58a5014 (
    <include refid="Base_Column_List"/>
    )
    values (#{ztvr01,jdbcType=CHAR}, #{ztedsp,jdbcType=CHAR}, #{ztdl01,jdbcType=CHAR}, 
      #{ztpid,jdbcType=CHAR}, #{ztuser,jdbcType=CHAR}, #{ztupmj,jdbcType=DATE}, #{ztupmt,jdbcType=VARCHAR}, 
      #{ztjobn,jdbcType=CHAR}, #{zturcd,jdbcType=CHAR}, #{zturdt,jdbcType=DATE}, #{zturat,jdbcType=NUMERIC}, 
      #{zturab,jdbcType=NUMERIC}, #{zturrf,jdbcType=CHAR}, #{ztflag,jdbcType=CHAR}, #{ztlnid,jdbcType=NUMERIC}
      )
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58A5014DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58a5014
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>