<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58K5012DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5012DO">
    <id column="SZEDOC" jdbcType="NUMERIC" property="szedoc" />
    <id column="SZEDCT" jdbcType="VARCHAR" property="szedct" />
    <id column="SZEKCO" jdbcType="VARCHAR" property="szekco" />
    <id column="SZEDLN" jdbcType="NUMERIC" property="szedln" />
    <result column="SZEDTY" jdbcType="CHAR" property="szedty" />
    <result column="SZEDSQ" jdbcType="NUMERIC" property="szedsq" />
    <result column="SZEDST" jdbcType="VARCHAR" property="szedst" />
    <result column="SZEDFT" jdbcType="VARCHAR" property="szedft" />
    <result column="SZEDDT" jdbcType="DATE" property="szeddt" />
    <result column="SZEDER" jdbcType="CHAR" property="szeder" />
    <result column="SZEDDL" jdbcType="NUMERIC" property="szeddl" />
    <result column="SZEDSP" jdbcType="CHAR" property="szedsp" />
    <result column="SZEDBT" jdbcType="VARCHAR" property="szedbt" />
    <result column="SZPNID" jdbcType="VARCHAR" property="szpnid" />
    <result column="SZKCOO" jdbcType="VARCHAR" property="szkcoo" />
    <result column="SZDOCO" jdbcType="NUMERIC" property="szdoco" />
    <result column="SZDCTO" jdbcType="VARCHAR" property="szdcto" />
    <result column="SZLNID" jdbcType="NUMERIC" property="szlnid" />
    <result column="SZSFXO" jdbcType="VARCHAR" property="szsfxo" />
    <result column="SZMCU" jdbcType="VARCHAR" property="szmcu" />
    <result column="SZCO" jdbcType="VARCHAR" property="szco" />
    <result column="SZOKCO" jdbcType="VARCHAR" property="szokco" />
    <result column="SZOORN" jdbcType="VARCHAR" property="szoorn" />
    <result column="SZOCTO" jdbcType="VARCHAR" property="szocto" />
    <result column="SZOGNO" jdbcType="NUMERIC" property="szogno" />
    <result column="SZRKCO" jdbcType="VARCHAR" property="szrkco" />
    <result column="SZRORN" jdbcType="VARCHAR" property="szrorn" />
    <result column="SZRCTO" jdbcType="VARCHAR" property="szrcto" />
    <result column="SZRLLN" jdbcType="NUMERIC" property="szrlln" />
    <result column="SZDMCT" jdbcType="VARCHAR" property="szdmct" />
    <result column="SZDMCS" jdbcType="NUMERIC" property="szdmcs" />
    <result column="SZAN8" jdbcType="NUMERIC" property="szan8" />
    <result column="SZSHAN" jdbcType="NUMERIC" property="szshan" />
    <result column="SZPA8" jdbcType="NUMERIC" property="szpa8" />
    <result column="SZDRQJ" jdbcType="DATE" property="szdrqj" />
    <result column="SZTRDJ" jdbcType="DATE" property="sztrdj" />
    <result column="SZPDDJ" jdbcType="DATE" property="szpddj" />
    <result column="SZOPDJ" jdbcType="DATE" property="szopdj" />
    <result column="SZADDJ" jdbcType="DATE" property="szaddj" />
    <result column="SZIVD" jdbcType="DATE" property="szivd" />
    <result column="SZCNDJ" jdbcType="DATE" property="szcndj" />
    <result column="SZDGL" jdbcType="DATE" property="szdgl" />
    <result column="SZRSDJ" jdbcType="DATE" property="szrsdj" />
    <result column="SZPEFJ" jdbcType="DATE" property="szpefj" />
    <result column="SZPPDJ" jdbcType="DATE" property="szppdj" />
    <result column="SZPSDJ" jdbcType="DATE" property="szpsdj" />
    <result column="SZVR01" jdbcType="VARCHAR" property="szvr01" />
    <result column="SZVR02" jdbcType="VARCHAR" property="szvr02" />
    <result column="SZITM" jdbcType="NUMERIC" property="szitm" />
    <result column="SZLITM" jdbcType="VARCHAR" property="szlitm" />
    <result column="SZAITM" jdbcType="VARCHAR" property="szaitm" />
    <result column="SZCITM" jdbcType="VARCHAR" property="szcitm" />
    <result column="SZLOCN" jdbcType="VARCHAR" property="szlocn" />
    <result column="SZLOTN" jdbcType="VARCHAR" property="szlotn" />
    <result column="SZFRGD" jdbcType="VARCHAR" property="szfrgd" />
    <result column="SZTHGD" jdbcType="VARCHAR" property="szthgd" />
    <result column="SZFRMP" jdbcType="NUMERIC" property="szfrmp" />
    <result column="SZTHRP" jdbcType="NUMERIC" property="szthrp" />
    <result column="SZEXDP" jdbcType="NUMERIC" property="szexdp" />
    <result column="SZDSC1" jdbcType="VARCHAR" property="szdsc1" />
    <result column="SZDSC2" jdbcType="VARCHAR" property="szdsc2" />
    <result column="SZLNTY" jdbcType="VARCHAR" property="szlnty" />
    <result column="SZNXTR" jdbcType="VARCHAR" property="sznxtr" />
    <result column="SZLTTR" jdbcType="VARCHAR" property="szlttr" />
    <result column="SZEMCU" jdbcType="VARCHAR" property="szemcu" />
    <result column="SZRLIT" jdbcType="VARCHAR" property="szrlit" />
    <result column="SZKTLN" jdbcType="NUMERIC" property="szktln" />
    <result column="SZCPNT" jdbcType="NUMERIC" property="szcpnt" />
    <result column="SZRKIT" jdbcType="NUMERIC" property="szrkit" />
    <result column="SZKTP" jdbcType="NUMERIC" property="szktp" />
    <result column="SZSRP1" jdbcType="VARCHAR" property="szsrp1" />
    <result column="SZSRP2" jdbcType="VARCHAR" property="szsrp2" />
    <result column="SZSRP3" jdbcType="VARCHAR" property="szsrp3" />
    <result column="SZSRP4" jdbcType="VARCHAR" property="szsrp4" />
    <result column="SZSRP5" jdbcType="VARCHAR" property="szsrp5" />
    <result column="SZPRP1" jdbcType="VARCHAR" property="szprp1" />
    <result column="SZPRP2" jdbcType="VARCHAR" property="szprp2" />
    <result column="SZPRP3" jdbcType="VARCHAR" property="szprp3" />
    <result column="SZPRP4" jdbcType="VARCHAR" property="szprp4" />
    <result column="SZPRP5" jdbcType="VARCHAR" property="szprp5" />
    <result column="SZUOM" jdbcType="VARCHAR" property="szuom" />
    <result column="SZUORG" jdbcType="NUMERIC" property="szuorg" />
    <result column="SZSOQS" jdbcType="NUMERIC" property="szsoqs" />
    <result column="SZSOBK" jdbcType="NUMERIC" property="szsobk" />
    <result column="SZSOCN" jdbcType="NUMERIC" property="szsocn" />
    <result column="SZSONE" jdbcType="NUMERIC" property="szsone" />
    <result column="SZUOPN" jdbcType="NUMERIC" property="szuopn" />
    <result column="SZQTYT" jdbcType="NUMERIC" property="szqtyt" />
    <result column="SZQRLV" jdbcType="NUMERIC" property="szqrlv" />
    <result column="SZCOMM" jdbcType="CHAR" property="szcomm" />
    <result column="SZOTQY" jdbcType="CHAR" property="szotqy" />
    <result column="SZUPRC" jdbcType="NUMERIC" property="szuprc" />
    <result column="SZAEXP" jdbcType="NUMERIC" property="szaexp" />
    <result column="SZAOPN" jdbcType="NUMERIC" property="szaopn" />
    <result column="SZPROV" jdbcType="CHAR" property="szprov" />
    <result column="SZTPC" jdbcType="CHAR" property="sztpc" />
    <result column="SZAPUM" jdbcType="VARCHAR" property="szapum" />
    <result column="SZLPRC" jdbcType="NUMERIC" property="szlprc" />
    <result column="SZUNCS" jdbcType="NUMERIC" property="szuncs" />
    <result column="SZECST" jdbcType="NUMERIC" property="szecst" />
    <result column="SZCSTO" jdbcType="CHAR" property="szcsto" />
    <result column="SZTCST" jdbcType="NUMERIC" property="sztcst" />
    <result column="SZINMG" jdbcType="VARCHAR" property="szinmg" />
    <result column="SZPTC" jdbcType="VARCHAR" property="szptc" />
    <result column="SZRYIN" jdbcType="CHAR" property="szryin" />
    <result column="SZDTBS" jdbcType="CHAR" property="szdtbs" />
    <result column="SZTRDC" jdbcType="NUMERIC" property="sztrdc" />
    <result column="SZFUN2" jdbcType="NUMERIC" property="szfun2" />
    <result column="SZASN" jdbcType="VARCHAR" property="szasn" />
    <result column="SZPRGR" jdbcType="VARCHAR" property="szprgr" />
    <result column="SZCLVL" jdbcType="VARCHAR" property="szclvl" />
    <result column="SZDSPR" jdbcType="NUMERIC" property="szdspr" />
    <result column="SZDSFT" jdbcType="CHAR" property="szdsft" />
    <result column="SZFAPP" jdbcType="CHAR" property="szfapp" />
    <result column="SZCADC" jdbcType="NUMERIC" property="szcadc" />
    <result column="SZKCO" jdbcType="VARCHAR" property="szkco" />
    <result column="SZDOC" jdbcType="NUMERIC" property="szdoc" />
    <result column="SZDCT" jdbcType="VARCHAR" property="szdct" />
    <result column="SZODOC" jdbcType="NUMERIC" property="szodoc" />
    <result column="SZODCT" jdbcType="VARCHAR" property="szodct" />
    <result column="SZOKC" jdbcType="VARCHAR" property="szokc" />
    <result column="SZPSN" jdbcType="NUMERIC" property="szpsn" />
    <result column="SZDELN" jdbcType="NUMERIC" property="szdeln" />
    <result column="SZTAX1" jdbcType="CHAR" property="sztax1" />
    <result column="SZTXA1" jdbcType="VARCHAR" property="sztxa1" />
    <result column="SZEXR1" jdbcType="VARCHAR" property="szexr1" />
    <result column="SZATXT" jdbcType="CHAR" property="szatxt" />
    <result column="SZPRIO" jdbcType="CHAR" property="szprio" />
    <result column="SZRESL" jdbcType="CHAR" property="szresl" />
    <result column="SZBACK" jdbcType="CHAR" property="szback" />
    <result column="SZSBAL" jdbcType="CHAR" property="szsbal" />
    <result column="SZAPTS" jdbcType="CHAR" property="szapts" />
    <result column="SZLOB" jdbcType="VARCHAR" property="szlob" />
    <result column="SZEUSE" jdbcType="VARCHAR" property="szeuse" />
    <result column="SZDTYS" jdbcType="VARCHAR" property="szdtys" />
    <result column="SZNTR" jdbcType="VARCHAR" property="szntr" />
    <result column="SZVEND" jdbcType="NUMERIC" property="szvend" />
    <result column="SZANBY" jdbcType="NUMERIC" property="szanby" />
    <result column="SZCARS" jdbcType="NUMERIC" property="szcars" />
    <result column="SZMOT" jdbcType="VARCHAR" property="szmot" />
    <result column="SZCOT" jdbcType="VARCHAR" property="szcot" />
    <result column="SZROUT" jdbcType="VARCHAR" property="szrout" />
    <result column="SZSTOP" jdbcType="VARCHAR" property="szstop" />
    <result column="SZZON" jdbcType="VARCHAR" property="szzon" />
    <result column="SZCNID" jdbcType="VARCHAR" property="szcnid" />
    <result column="SZFRTH" jdbcType="VARCHAR" property="szfrth" />
    <result column="SZAFT" jdbcType="CHAR" property="szaft" />
    <result column="SZFUF1" jdbcType="CHAR" property="szfuf1" />
    <result column="SZFRTC" jdbcType="CHAR" property="szfrtc" />
    <result column="SZFRAT" jdbcType="VARCHAR" property="szfrat" />
    <result column="SZRATT" jdbcType="CHAR" property="szratt" />
    <result column="SZSHCM" jdbcType="VARCHAR" property="szshcm" />
    <result column="SZSHCN" jdbcType="VARCHAR" property="szshcn" />
    <result column="SZSERN" jdbcType="VARCHAR" property="szsern" />
    <result column="SZUOM1" jdbcType="VARCHAR" property="szuom1" />
    <result column="SZPQOR" jdbcType="NUMERIC" property="szpqor" />
    <result column="SZUOM2" jdbcType="VARCHAR" property="szuom2" />
    <result column="SZSQOR" jdbcType="NUMERIC" property="szsqor" />
    <result column="SZUOM4" jdbcType="VARCHAR" property="szuom4" />
    <result column="SZITWT" jdbcType="NUMERIC" property="szitwt" />
    <result column="SZWTUM" jdbcType="VARCHAR" property="szwtum" />
    <result column="SZITVL" jdbcType="NUMERIC" property="szitvl" />
    <result column="SZVLUM" jdbcType="VARCHAR" property="szvlum" />
    <result column="SZRPRC" jdbcType="VARCHAR" property="szrprc" />
    <result column="SZORPR" jdbcType="VARCHAR" property="szorpr" />
    <result column="SZORP" jdbcType="CHAR" property="szorp" />
    <result column="SZCMGP" jdbcType="VARCHAR" property="szcmgp" />
    <result column="SZCMGL" jdbcType="CHAR" property="szcmgl" />
    <result column="SZGLC" jdbcType="VARCHAR" property="szglc" />
    <result column="SZCTRY" jdbcType="NUMERIC" property="szctry" />
    <result column="SZFY" jdbcType="NUMERIC" property="szfy" />
    <result column="SZSTTS" jdbcType="VARCHAR" property="szstts" />
    <result column="SZSO01" jdbcType="CHAR" property="szso01" />
    <result column="SZSO02" jdbcType="CHAR" property="szso02" />
    <result column="SZSO03" jdbcType="CHAR" property="szso03" />
    <result column="SZSO04" jdbcType="CHAR" property="szso04" />
    <result column="SZSO05" jdbcType="CHAR" property="szso05" />
    <result column="SZSO06" jdbcType="CHAR" property="szso06" />
    <result column="SZSO07" jdbcType="CHAR" property="szso07" />
    <result column="SZSO08" jdbcType="CHAR" property="szso08" />
    <result column="SZSO09" jdbcType="CHAR" property="szso09" />
    <result column="SZSO10" jdbcType="CHAR" property="szso10" />
    <result column="SZSO11" jdbcType="CHAR" property="szso11" />
    <result column="SZSO12" jdbcType="CHAR" property="szso12" />
    <result column="SZSO13" jdbcType="CHAR" property="szso13" />
    <result column="SZSO14" jdbcType="CHAR" property="szso14" />
    <result column="SZSO15" jdbcType="CHAR" property="szso15" />
    <result column="SZACOM" jdbcType="CHAR" property="szacom" />
    <result column="SZCMCG" jdbcType="VARCHAR" property="szcmcg" />
    <result column="SZRCD" jdbcType="VARCHAR" property="szrcd" />
    <result column="SZGRWT" jdbcType="NUMERIC" property="szgrwt" />
    <result column="SZGWUM" jdbcType="VARCHAR" property="szgwum" />
    <result column="SZANI" jdbcType="VARCHAR" property="szani" />
    <result column="SZAID" jdbcType="VARCHAR" property="szaid" />
    <result column="SZOMCU" jdbcType="VARCHAR" property="szomcu" />
    <result column="SZOBJ" jdbcType="VARCHAR" property="szobj" />
    <result column="SZSUB" jdbcType="VARCHAR" property="szsub" />
    <result column="SZLT" jdbcType="VARCHAR" property="szlt" />
    <result column="SZSBL" jdbcType="VARCHAR" property="szsbl" />
    <result column="SZSBLT" jdbcType="CHAR" property="szsblt" />
    <result column="SZLCOD" jdbcType="VARCHAR" property="szlcod" />
    <result column="SZUPC1" jdbcType="VARCHAR" property="szupc1" />
    <result column="SZUPC2" jdbcType="VARCHAR" property="szupc2" />
    <result column="SZUPC3" jdbcType="VARCHAR" property="szupc3" />
    <result column="SZSWMS" jdbcType="CHAR" property="szswms" />
    <result column="SZUNCD" jdbcType="CHAR" property="szuncd" />
    <result column="SZCRMD" jdbcType="CHAR" property="szcrmd" />
    <result column="SZCRCD" jdbcType="VARCHAR" property="szcrcd" />
    <result column="SZCRR" jdbcType="NUMERIC" property="szcrr" />
    <result column="SZFPRC" jdbcType="NUMERIC" property="szfprc" />
    <result column="SZFUP" jdbcType="NUMERIC" property="szfup" />
    <result column="SZFEA" jdbcType="NUMERIC" property="szfea" />
    <result column="SZFUC" jdbcType="NUMERIC" property="szfuc" />
    <result column="SZFEC" jdbcType="NUMERIC" property="szfec" />
    <result column="SZURCD" jdbcType="VARCHAR" property="szurcd" />
    <result column="SZURDT" jdbcType="DATE" property="szurdt" />
    <result column="SZURAT" jdbcType="NUMERIC" property="szurat" />
    <result column="SZURAB" jdbcType="NUMERIC" property="szurab" />
    <result column="SZURRF" jdbcType="NUMERIC" property="szurrf" />
    <result column="SZTORG" jdbcType="VARCHAR" property="sztorg" />
    <result column="SZUSER" jdbcType="VARCHAR" property="szuser" />
    <result column="SZPID" jdbcType="VARCHAR" property="szpid" />
    <result column="SZJOBN" jdbcType="VARCHAR" property="szjobn" />
    <result column="SZUPMJ" jdbcType="DATE" property="szupmj" />
    <result column="SZTDAY" jdbcType="VARCHAR" property="sztday" />
    <result column="SZIR01" jdbcType="VARCHAR" property="szir01" />
    <result column="SZIR02" jdbcType="VARCHAR" property="szir02" />
    <result column="SZIR03" jdbcType="VARCHAR" property="szir03" />
    <result column="SZIR04" jdbcType="VARCHAR" property="szir04" />
    <result column="SZIR05" jdbcType="VARCHAR" property="szir05" />
    <result column="SZSOOR" jdbcType="NUMERIC" property="szsoor" />
    <result column="SZDEID" jdbcType="NUMERIC" property="szdeid" />
    <result column="SZPSIG" jdbcType="VARCHAR" property="szpsig" />
    <result column="SZRLNU" jdbcType="VARCHAR" property="szrlnu" />
    <result column="SZPMDT" jdbcType="NUMERIC" property="szpmdt" />
    <result column="SZRLTM" jdbcType="NUMERIC" property="szrltm" />
    <result column="SZRLDJ" jdbcType="DATE" property="szrldj" />
    <result column="SZDRQT" jdbcType="NUMERIC" property="szdrqt" />
    <result column="SZADTM" jdbcType="NUMERIC" property="szadtm" />
    <result column="SZOPTT" jdbcType="NUMERIC" property="szoptt" />
    <result column="SZPDTT" jdbcType="NUMERIC" property="szpdtt" />
    <result column="SZPSTM" jdbcType="NUMERIC" property="szpstm" />
    <result column="SZPMTN" jdbcType="VARCHAR" property="szpmtn" />
    <result column="SZBSC" jdbcType="VARCHAR" property="szbsc" />
    <result column="SZCBSC" jdbcType="VARCHAR" property="szcbsc" />
    <result column="SZDVAN" jdbcType="NUMERIC" property="szdvan" />
    <result column="SZRFRV" jdbcType="VARCHAR" property="szrfrv" />
    <result column="SZSHPN" jdbcType="NUMERIC" property="szshpn" />
    <result column="SZPRJM" jdbcType="NUMERIC" property="szprjm" />
    <result column="SZHOLD" jdbcType="VARCHAR" property="szhold" />
    <result column="SZPMTO" jdbcType="CHAR" property="szpmto" />
    <result column="SZDUAL" jdbcType="CHAR" property="szdual" />
    <result column="SZPODC01" jdbcType="VARCHAR" property="szpodc01" />
    <result column="SZPODC02" jdbcType="VARCHAR" property="szpodc02" />
    <result column="SZPODC03" jdbcType="VARCHAR" property="szpodc03" />
    <result column="SZPODC04" jdbcType="VARCHAR" property="szpodc04" />
    <result column="SZJBCD" jdbcType="VARCHAR" property="szjbcd" />
    <result column="SZSRQTY" jdbcType="NUMERIC" property="szsrqty" />
    <result column="SZSRUOM" jdbcType="VARCHAR" property="szsruom" />
    <result column="SZCFGFL" jdbcType="CHAR" property="szcfgfl" />
    <result column="SZGAN8" jdbcType="NUMERIC" property="szgan8" />
    <result column="SZGSHAN" jdbcType="NUMERIC" property="szgshan" />
    <result column="SZGPA8" jdbcType="NUMERIC" property="szgpa8" />
    <result column="SZGVEND" jdbcType="NUMERIC" property="szgvend" />
    <result column="SZGCARS" jdbcType="NUMERIC" property="szgcars" />
    <result column="SZGDVAN" jdbcType="NUMERIC" property="szgdvan" />
    <result column="SZPMPN" jdbcType="VARCHAR" property="szpmpn" />
    <result column="SZUORGR" jdbcType="NUMERIC" property="szuorgr" />
    <result column="SZUOM8" jdbcType="VARCHAR" property="szuom8" />
    <result column="SZUORGE1" jdbcType="NUMERIC" property="szuorge1" />
    <result column="SZUOM9" jdbcType="VARCHAR" property="szuom9" />
    <result column="SZFLAG" jdbcType="CHAR" property="szflag" />
  </resultMap>
  <sql id="Base_Column_List">
    "SZEDOC", "SZEDCT", "SZEKCO", "SZEDLN", "SZEDTY", "SZEDSQ", "SZEDST", "SZEDFT", "SZEDDT", "SZEDER",
    "SZEDDL", "SZEDSP", "SZEDBT", "SZPNID", "SZKCOO", "SZDOCO", "SZDCTO", "SZLNID", "SZSFXO", "SZMCU",
    "SZCO", "SZOKCO", "SZOORN", "SZOCTO", "SZOGNO", "SZRKCO", "SZRORN", "SZRCTO", "SZRLLN", "SZDMCT",
    "SZDMCS", "SZAN8", "SZSHAN", "SZPA8", "SZDRQJ", "SZTRDJ", "SZPDDJ", "SZOPDJ", "SZADDJ", "SZIVD",
    "SZCNDJ", "SZDGL", "SZRSDJ", "SZPEFJ", "SZPPDJ", "SZPSDJ", "SZVR01", "SZVR02", "SZITM", "SZLITM",
    "SZAITM", "SZCITM", "SZLOCN", "SZLOTN", "SZFRGD", "SZTHGD", "SZFRMP", "SZTHRP", "SZEXDP", "SZDSC1",
    "SZDSC2", "SZLNTY", "SZNXTR", "SZLTTR", "SZEMCU", "SZRLIT", "SZKTLN", "SZCPNT", "SZRKIT", "SZKTP",
    "SZSRP1", "SZSRP2", "SZSRP3", "SZSRP4", "SZSRP5", "SZPRP1", "SZPRP2", "SZPRP3", "SZPRP4", "SZPRP5",
    "SZUOM", "SZUORG", "SZSOQS", "SZSOBK", "SZSOCN", "SZSONE", "SZUOPN", "SZQTYT", "SZQRLV", "SZCOMM",
    "SZOTQY", "SZUPRC", "SZAEXP", "SZAOPN", "SZPROV", "SZTPC", "SZAPUM", "SZLPRC", "SZUNCS", "SZECST",
    "SZCSTO", "SZTCST", "SZINMG", "SZPTC", "SZRYIN", "SZDTBS", "SZTRDC", "SZFUN2", "SZASN", "SZPRGR",
    "SZCLVL", "SZDSPR", "SZDSFT", "SZFAPP", "SZCADC", "SZKCO", "SZDOC", "SZDCT", "SZODOC", "SZODCT",
    "SZOKC", "SZPSN", "SZDELN", "SZTAX1", "SZTXA1", "SZEXR1", "SZATXT", "SZPRIO", "SZRESL", "SZBACK",
    "SZSBAL", "SZAPTS", "SZLOB", "SZEUSE", "SZDTYS", "SZNTR", "SZVEND", "SZANBY", "SZCARS", "SZMOT",
    "SZCOT", "SZROUT", "SZSTOP", "SZZON", "SZCNID", "SZFRTH", "SZAFT", "SZFUF1", "SZFRTC", "SZFRAT",
    "SZRATT", "SZSHCM", "SZSHCN", "SZSERN", "SZUOM1", "SZPQOR", "SZUOM2", "SZSQOR", "SZUOM4", "SZITWT",
    "SZWTUM", "SZITVL", "SZVLUM", "SZRPRC", "SZORPR", "SZORP", "SZCMGP", "SZCMGL", "SZGLC", "SZCTRY",
    "SZFY", "SZSTTS", "SZSO01", "SZSO02", "SZSO03", "SZSO04", "SZSO05", "SZSO06", "SZSO07", "SZSO08",
    "SZSO09", "SZSO10", "SZSO11", "SZSO12", "SZSO13", "SZSO14", "SZSO15", "SZACOM", "SZCMCG", "SZRCD",
    "SZGRWT", "SZGWUM", "SZANI", "SZAID", "SZOMCU", "SZOBJ", "SZSUB", "SZLT", "SZSBL", "SZSBLT", "SZLCOD",
    "SZUPC1", "SZUPC2", "SZUPC3", "SZSWMS", "SZUNCD", "SZCRMD", "SZCRCD", "SZCRR", "SZFPRC", "SZFUP",
    "SZFEA", "SZFUC", "SZFEC", "SZURCD", "SZURDT", "SZURAT", "SZURAB", "SZURRF", "SZTORG", "SZUSER", "SZPID",
    "SZJOBN", "SZUPMJ", "SZTDAY", "SZIR01", "SZIR02", "SZIR03", "SZIR04", "SZIR05", "SZSOOR", "SZDEID",
    "SZPSIG", "SZRLNU", "SZPMDT", "SZRLTM", "SZRLDJ", "SZDRQT", "SZADTM", "SZOPTT", "SZPDTT", "SZPSTM",
    "SZPMTN", "SZBSC", "SZCBSC", "SZDVAN", "SZRFRV", "SZSHPN", "SZPRJM", "SZHOLD", "SZPMTO", "SZDUAL",
    "SZPODC01", "SZPODC02", "SZPODC03", "SZPODC04", "SZJBCD", "SZSRQTY", "SZSRUOM", "SZCFGFL", "SZGAN8",
    "SZGSHAN", "SZGPA8", "SZGVEND", "SZGCARS", "SZGDVAN", "SZPMPN", "SZUORGR", "SZUOM8", "SZUORGE1", "SZUOM9",
    "SZFLAG"
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5012DO">
    insert into f58k5012 (
    <include refid="Base_Column_List"/>
    )
    values (#{szedoc,jdbcType=NUMERIC}, #{szedct,jdbcType=VARCHAR}, #{szekco,jdbcType=VARCHAR}, 
      #{szedln,jdbcType=NUMERIC}, #{szedty,jdbcType=CHAR}, #{szedsq,jdbcType=NUMERIC}, 
      #{szedst,jdbcType=VARCHAR}, #{szedft,jdbcType=VARCHAR}, #{szeddt,jdbcType=DATE}, 
      #{szeder,jdbcType=CHAR}, #{szeddl,jdbcType=NUMERIC}, #{szedsp,jdbcType=CHAR}, #{szedbt,jdbcType=VARCHAR}, 
      #{szpnid,jdbcType=VARCHAR}, #{szkcoo,jdbcType=VARCHAR}, #{szdoco,jdbcType=NUMERIC}, 
      #{szdcto,jdbcType=VARCHAR}, #{szlnid,jdbcType=NUMERIC}, #{szsfxo,jdbcType=VARCHAR}, 
      #{szmcu,jdbcType=VARCHAR}, #{szco,jdbcType=VARCHAR}, #{szokco,jdbcType=VARCHAR}, 
      #{szoorn,jdbcType=VARCHAR}, #{szocto,jdbcType=VARCHAR}, #{szogno,jdbcType=NUMERIC}, 
      #{szrkco,jdbcType=VARCHAR}, #{szrorn,jdbcType=VARCHAR}, #{szrcto,jdbcType=VARCHAR}, 
      #{szrlln,jdbcType=NUMERIC}, #{szdmct,jdbcType=VARCHAR}, #{szdmcs,jdbcType=NUMERIC}, 
      #{szan8,jdbcType=NUMERIC}, #{szshan,jdbcType=NUMERIC}, #{szpa8,jdbcType=NUMERIC}, 
      #{szdrqj,jdbcType=DATE}, #{sztrdj,jdbcType=DATE}, #{szpddj,jdbcType=DATE}, #{szopdj,jdbcType=DATE}, 
      #{szaddj,jdbcType=DATE}, #{szivd,jdbcType=DATE}, #{szcndj,jdbcType=DATE}, #{szdgl,jdbcType=DATE}, 
      #{szrsdj,jdbcType=DATE}, #{szpefj,jdbcType=DATE}, #{szppdj,jdbcType=DATE}, #{szpsdj,jdbcType=DATE}, 
      #{szvr01,jdbcType=VARCHAR}, #{szvr02,jdbcType=VARCHAR}, #{szitm,jdbcType=NUMERIC}, 
      #{szlitm,jdbcType=VARCHAR}, #{szaitm,jdbcType=VARCHAR}, #{szcitm,jdbcType=VARCHAR}, 
      #{szlocn,jdbcType=VARCHAR}, #{szlotn,jdbcType=VARCHAR}, #{szfrgd,jdbcType=VARCHAR}, 
      #{szthgd,jdbcType=VARCHAR}, #{szfrmp,jdbcType=NUMERIC}, #{szthrp,jdbcType=NUMERIC}, 
      #{szexdp,jdbcType=NUMERIC}, #{szdsc1,jdbcType=VARCHAR}, #{szdsc2,jdbcType=VARCHAR}, 
      #{szlnty,jdbcType=VARCHAR}, #{sznxtr,jdbcType=VARCHAR}, #{szlttr,jdbcType=VARCHAR}, 
      #{szemcu,jdbcType=VARCHAR}, #{szrlit,jdbcType=VARCHAR}, #{szktln,jdbcType=NUMERIC}, 
      #{szcpnt,jdbcType=NUMERIC}, #{szrkit,jdbcType=NUMERIC}, #{szktp,jdbcType=NUMERIC}, 
      #{szsrp1,jdbcType=VARCHAR}, #{szsrp2,jdbcType=VARCHAR}, #{szsrp3,jdbcType=VARCHAR}, 
      #{szsrp4,jdbcType=VARCHAR}, #{szsrp5,jdbcType=VARCHAR}, #{szprp1,jdbcType=VARCHAR}, 
      #{szprp2,jdbcType=VARCHAR}, #{szprp3,jdbcType=VARCHAR}, #{szprp4,jdbcType=VARCHAR}, 
      #{szprp5,jdbcType=VARCHAR}, #{szuom,jdbcType=VARCHAR}, #{szuorg,jdbcType=NUMERIC}, 
      #{szsoqs,jdbcType=NUMERIC}, #{szsobk,jdbcType=NUMERIC}, #{szsocn,jdbcType=NUMERIC}, 
      #{szsone,jdbcType=NUMERIC}, #{szuopn,jdbcType=NUMERIC}, #{szqtyt,jdbcType=NUMERIC}, 
      #{szqrlv,jdbcType=NUMERIC}, #{szcomm,jdbcType=CHAR}, #{szotqy,jdbcType=CHAR}, #{szuprc,jdbcType=NUMERIC}, 
      #{szaexp,jdbcType=NUMERIC}, #{szaopn,jdbcType=NUMERIC}, #{szprov,jdbcType=CHAR}, 
      #{sztpc,jdbcType=CHAR}, #{szapum,jdbcType=VARCHAR}, #{szlprc,jdbcType=NUMERIC}, 
      #{szuncs,jdbcType=NUMERIC}, #{szecst,jdbcType=NUMERIC}, #{szcsto,jdbcType=CHAR}, 
      #{sztcst,jdbcType=NUMERIC}, #{szinmg,jdbcType=VARCHAR}, #{szptc,jdbcType=VARCHAR}, 
      #{szryin,jdbcType=CHAR}, #{szdtbs,jdbcType=CHAR}, #{sztrdc,jdbcType=NUMERIC}, #{szfun2,jdbcType=NUMERIC}, 
      #{szasn,jdbcType=VARCHAR}, #{szprgr,jdbcType=VARCHAR}, #{szclvl,jdbcType=VARCHAR}, 
      #{szdspr,jdbcType=NUMERIC}, #{szdsft,jdbcType=CHAR}, #{szfapp,jdbcType=CHAR}, #{szcadc,jdbcType=NUMERIC}, 
      #{szkco,jdbcType=VARCHAR}, #{szdoc,jdbcType=NUMERIC}, #{szdct,jdbcType=VARCHAR}, 
      #{szodoc,jdbcType=NUMERIC}, #{szodct,jdbcType=VARCHAR}, #{szokc,jdbcType=VARCHAR}, 
      #{szpsn,jdbcType=NUMERIC}, #{szdeln,jdbcType=NUMERIC}, #{sztax1,jdbcType=CHAR}, 
      #{sztxa1,jdbcType=VARCHAR}, #{szexr1,jdbcType=VARCHAR}, #{szatxt,jdbcType=CHAR}, 
      #{szprio,jdbcType=CHAR}, #{szresl,jdbcType=CHAR}, #{szback,jdbcType=CHAR}, #{szsbal,jdbcType=CHAR}, 
      #{szapts,jdbcType=CHAR}, #{szlob,jdbcType=VARCHAR}, #{szeuse,jdbcType=VARCHAR}, 
      #{szdtys,jdbcType=VARCHAR}, #{szntr,jdbcType=VARCHAR}, #{szvend,jdbcType=NUMERIC}, 
      #{szanby,jdbcType=NUMERIC}, #{szcars,jdbcType=NUMERIC}, #{szmot,jdbcType=VARCHAR}, 
      #{szcot,jdbcType=VARCHAR}, #{szrout,jdbcType=VARCHAR}, #{szstop,jdbcType=VARCHAR}, 
      #{szzon,jdbcType=VARCHAR}, #{szcnid,jdbcType=VARCHAR}, #{szfrth,jdbcType=VARCHAR}, 
      #{szaft,jdbcType=CHAR}, #{szfuf1,jdbcType=CHAR}, #{szfrtc,jdbcType=CHAR}, #{szfrat,jdbcType=VARCHAR}, 
      #{szratt,jdbcType=CHAR}, #{szshcm,jdbcType=VARCHAR}, #{szshcn,jdbcType=VARCHAR}, 
      #{szsern,jdbcType=VARCHAR}, #{szuom1,jdbcType=VARCHAR}, #{szpqor,jdbcType=NUMERIC}, 
      #{szuom2,jdbcType=VARCHAR}, #{szsqor,jdbcType=NUMERIC}, #{szuom4,jdbcType=VARCHAR}, 
      #{szitwt,jdbcType=NUMERIC}, #{szwtum,jdbcType=VARCHAR}, #{szitvl,jdbcType=NUMERIC}, 
      #{szvlum,jdbcType=VARCHAR}, #{szrprc,jdbcType=VARCHAR}, #{szorpr,jdbcType=VARCHAR}, 
      #{szorp,jdbcType=CHAR}, #{szcmgp,jdbcType=VARCHAR}, #{szcmgl,jdbcType=CHAR}, #{szglc,jdbcType=VARCHAR}, 
      #{szctry,jdbcType=NUMERIC}, #{szfy,jdbcType=NUMERIC}, #{szstts,jdbcType=VARCHAR}, 
      #{szso01,jdbcType=CHAR}, #{szso02,jdbcType=CHAR}, #{szso03,jdbcType=CHAR}, #{szso04,jdbcType=CHAR}, 
      #{szso05,jdbcType=CHAR}, #{szso06,jdbcType=CHAR}, #{szso07,jdbcType=CHAR}, #{szso08,jdbcType=CHAR}, 
      #{szso09,jdbcType=CHAR}, #{szso10,jdbcType=CHAR}, #{szso11,jdbcType=CHAR}, #{szso12,jdbcType=CHAR}, 
      #{szso13,jdbcType=CHAR}, #{szso14,jdbcType=CHAR}, #{szso15,jdbcType=CHAR}, #{szacom,jdbcType=CHAR}, 
      #{szcmcg,jdbcType=VARCHAR}, #{szrcd,jdbcType=VARCHAR}, #{szgrwt,jdbcType=NUMERIC}, 
      #{szgwum,jdbcType=VARCHAR}, #{szani,jdbcType=VARCHAR}, #{szaid,jdbcType=VARCHAR}, 
      #{szomcu,jdbcType=VARCHAR}, #{szobj,jdbcType=VARCHAR}, #{szsub,jdbcType=VARCHAR}, 
      #{szlt,jdbcType=VARCHAR}, #{szsbl,jdbcType=VARCHAR}, #{szsblt,jdbcType=CHAR}, #{szlcod,jdbcType=VARCHAR}, 
      #{szupc1,jdbcType=VARCHAR}, #{szupc2,jdbcType=VARCHAR}, #{szupc3,jdbcType=VARCHAR}, 
      #{szswms,jdbcType=CHAR}, #{szuncd,jdbcType=CHAR}, #{szcrmd,jdbcType=CHAR}, #{szcrcd,jdbcType=VARCHAR}, 
      #{szcrr,jdbcType=NUMERIC}, #{szfprc,jdbcType=NUMERIC}, #{szfup,jdbcType=NUMERIC}, 
      #{szfea,jdbcType=NUMERIC}, #{szfuc,jdbcType=NUMERIC}, #{szfec,jdbcType=NUMERIC}, 
      #{szurcd,jdbcType=VARCHAR}, #{szurdt,jdbcType=DATE}, #{szurat,jdbcType=NUMERIC}, 
      #{szurab,jdbcType=NUMERIC}, #{szurrf,jdbcType=NUMERIC}, #{sztorg,jdbcType=VARCHAR}, 
      #{szuser,jdbcType=VARCHAR}, #{szpid,jdbcType=VARCHAR}, #{szjobn,jdbcType=VARCHAR}, 
      #{szupmj,jdbcType=DATE}, #{sztday,jdbcType=VARCHAR}, #{szir01,jdbcType=VARCHAR}, 
      #{szir02,jdbcType=VARCHAR}, #{szir03,jdbcType=VARCHAR}, #{szir04,jdbcType=VARCHAR}, 
      #{szir05,jdbcType=VARCHAR}, #{szsoor,jdbcType=NUMERIC}, #{szdeid,jdbcType=NUMERIC}, 
      #{szpsig,jdbcType=VARCHAR}, #{szrlnu,jdbcType=VARCHAR}, #{szpmdt,jdbcType=NUMERIC}, 
      #{szrltm,jdbcType=NUMERIC}, #{szrldj,jdbcType=DATE}, #{szdrqt,jdbcType=NUMERIC}, 
      #{szadtm,jdbcType=NUMERIC}, #{szoptt,jdbcType=NUMERIC}, #{szpdtt,jdbcType=NUMERIC}, 
      #{szpstm,jdbcType=NUMERIC}, #{szpmtn,jdbcType=VARCHAR}, #{szbsc,jdbcType=VARCHAR}, 
      #{szcbsc,jdbcType=VARCHAR}, #{szdvan,jdbcType=NUMERIC}, #{szrfrv,jdbcType=VARCHAR}, 
      #{szshpn,jdbcType=NUMERIC}, #{szprjm,jdbcType=NUMERIC}, #{szhold,jdbcType=VARCHAR}, 
      #{szpmto,jdbcType=CHAR}, #{szdual,jdbcType=CHAR}, #{szpodc01,jdbcType=VARCHAR}, 
      #{szpodc02,jdbcType=VARCHAR}, #{szpodc03,jdbcType=VARCHAR}, #{szpodc04,jdbcType=VARCHAR}, 
      #{szjbcd,jdbcType=VARCHAR}, #{szsrqty,jdbcType=NUMERIC}, #{szsruom,jdbcType=VARCHAR}, 
      #{szcfgfl,jdbcType=CHAR}, #{szgan8,jdbcType=NUMERIC}, #{szgshan,jdbcType=NUMERIC}, 
      #{szgpa8,jdbcType=NUMERIC}, #{szgvend,jdbcType=NUMERIC}, #{szgcars,jdbcType=NUMERIC}, 
      #{szgdvan,jdbcType=NUMERIC}, #{szpmpn,jdbcType=VARCHAR}, #{szuorgr,jdbcType=NUMERIC}, 
      #{szuom8,jdbcType=VARCHAR}, #{szuorge1,jdbcType=NUMERIC}, #{szuom9,jdbcType=VARCHAR}, 
      #{szflag,jdbcType=CHAR})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5012DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58k5012
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>