<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58K4106DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4106DO">
    <id column="mnlitm" jdbcType="VARCHAR" property="mnlitm" />
    <id column="mnmcu" jdbcType="VARCHAR" property="mnmcu" />
    <id column="mneftj" jdbcType="DATE" property="mneftj" />
    <result column="mnexdj" jdbcType="DATE" property="mnexdj" />
    <result column="mnuprc" jdbcType="NUMERIC" property="mnuprc" />
    <result column="mnuser" jdbcType="VARCHAR" property="mnuser" />
    <result column="mnpid" jdbcType="VARCHAR" property="mnpid" />
    <result column="mnjobn" jdbcType="VARCHAR" property="mnjobn" />
    <result column="mnupmj" jdbcType="DATE" property="mnupmj" />
    <result column="mntday" jdbcType="VARCHAR" property="mntday" />
    <result column="mnflag" jdbcType="CHAR" property="mnflag" />
  </resultMap>
  <sql id="Base_Column_List">
    mnlitm, mnmcu, mneftj, mnexdj, mnuprc, mnuser, mnpid, mnjobn, mnupmj, mntday, mnflag
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4106DO">
    insert into f58k4106 (
    <include refid="Base_Column_List"/>
    )
    values (#{mnlitm,jdbcType=VARCHAR}, #{mnmcu,jdbcType=VARCHAR}, #{mneftj,jdbcType=DATE}, 
      #{mnexdj,jdbcType=DATE}, #{mnuprc,jdbcType=NUMERIC}, #{mnuser,jdbcType=VARCHAR}, 
      #{mnpid,jdbcType=VARCHAR}, #{mnjobn,jdbcType=VARCHAR}, #{mnupmj,jdbcType=DATE}, 
      #{mntday,jdbcType=VARCHAR}, #{mnflag,jdbcType=CHAR})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4106DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58k4106
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>