<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58K5011DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5011DO">
    <id column="syedoc" jdbcType="NUMERIC" property="syedoc" />
    <id column="syedct" jdbcType="VARCHAR" property="syedct" />
    <id column="syekco" jdbcType="VARCHAR" property="syekco" />
    <result column="syedty" jdbcType="CHAR" property="syedty" />
    <result column="syedsq" jdbcType="NUMERIC" property="syedsq" />
    <result column="syedln" jdbcType="NUMERIC" property="syedln" />
    <result column="syedst" jdbcType="VARCHAR" property="syedst" />
    <result column="syedft" jdbcType="VARCHAR" property="syedft" />
    <result column="syeddt" jdbcType="DATE" property="syeddt" />
    <result column="syeder" jdbcType="CHAR" property="syeder" />
    <result column="syeddl" jdbcType="NUMERIC" property="syeddl" />
    <result column="syedsp" jdbcType="VARCHAR" property="syedsp" />
    <result column="syedbt" jdbcType="VARCHAR" property="syedbt" />
    <result column="sypnid" jdbcType="VARCHAR" property="sypnid" />
    <result column="syofrq" jdbcType="CHAR" property="syofrq" />
    <result column="synxdj" jdbcType="DATE" property="synxdj" />
    <result column="syssdj" jdbcType="DATE" property="syssdj" />
    <result column="sytpur" jdbcType="VARCHAR" property="sytpur" />
    <result column="sykcoo" jdbcType="VARCHAR" property="sykcoo" />
    <result column="sydoco" jdbcType="NUMERIC" property="sydoco" />
    <result column="sydcto" jdbcType="VARCHAR" property="sydcto" />
    <result column="sysfxo" jdbcType="VARCHAR" property="sysfxo" />
    <result column="symcu" jdbcType="VARCHAR" property="symcu" />
    <result column="syco" jdbcType="VARCHAR" property="syco" />
    <result column="syokco" jdbcType="VARCHAR" property="syokco" />
    <result column="syoorn" jdbcType="VARCHAR" property="syoorn" />
    <result column="syocto" jdbcType="VARCHAR" property="syocto" />
    <result column="syrkco" jdbcType="VARCHAR" property="syrkco" />
    <result column="syrorn" jdbcType="VARCHAR" property="syrorn" />
    <result column="syrcto" jdbcType="VARCHAR" property="syrcto" />
    <result column="syan8" jdbcType="NUMERIC" property="syan8" />
    <result column="syshan" jdbcType="NUMERIC" property="syshan" />
    <result column="sypa8" jdbcType="NUMERIC" property="sypa8" />
    <result column="sydrqj" jdbcType="DATE" property="sydrqj" />
    <result column="sytrdj" jdbcType="DATE" property="sytrdj" />
    <result column="sypddj" jdbcType="DATE" property="sypddj" />
    <result column="syopdj" jdbcType="DATE" property="syopdj" />
    <result column="syaddj" jdbcType="DATE" property="syaddj" />
    <result column="sycndj" jdbcType="DATE" property="sycndj" />
    <result column="sypefj" jdbcType="DATE" property="sypefj" />
    <result column="syppdj" jdbcType="DATE" property="syppdj" />
    <result column="sypsdj" jdbcType="DATE" property="sypsdj" />
    <result column="syvr01" jdbcType="VARCHAR" property="syvr01" />
    <result column="sydel1" jdbcType="VARCHAR" property="sydel1" />
    <result column="syvr02" jdbcType="VARCHAR" property="syvr02" />
    <result column="sydel2" jdbcType="VARCHAR" property="sydel2" />
    <result column="syinmg" jdbcType="VARCHAR" property="syinmg" />
    <result column="syptc" jdbcType="VARCHAR" property="syptc" />
    <result column="syryin" jdbcType="CHAR" property="syryin" />
    <result column="syasn" jdbcType="VARCHAR" property="syasn" />
    <result column="syprgp" jdbcType="VARCHAR" property="syprgp" />
    <result column="sytrdc" jdbcType="NUMERIC" property="sytrdc" />
    <result column="sypcrt" jdbcType="NUMERIC" property="sypcrt" />
    <result column="sytxa1" jdbcType="VARCHAR" property="sytxa1" />
    <result column="syexr1" jdbcType="VARCHAR" property="syexr1" />
    <result column="sytxct" jdbcType="VARCHAR" property="sytxct" />
    <result column="syatxt" jdbcType="CHAR" property="syatxt" />
    <result column="syprio" jdbcType="CHAR" property="syprio" />
    <result column="syback" jdbcType="CHAR" property="syback" />
    <result column="sysbal" jdbcType="CHAR" property="sysbal" />
    <result column="syntr" jdbcType="VARCHAR" property="syntr" />
    <result column="syanby" jdbcType="NUMERIC" property="syanby" />
    <result column="sycars" jdbcType="NUMERIC" property="sycars" />
    <result column="symot" jdbcType="VARCHAR" property="symot" />
    <result column="sycot" jdbcType="VARCHAR" property="sycot" />
    <result column="syrout" jdbcType="VARCHAR" property="syrout" />
    <result column="systop" jdbcType="VARCHAR" property="systop" />
    <result column="syzon" jdbcType="VARCHAR" property="syzon" />
    <result column="sycnid" jdbcType="VARCHAR" property="sycnid" />
    <result column="syfrth" jdbcType="VARCHAR" property="syfrth" />
    <result column="syaft" jdbcType="CHAR" property="syaft" />
    <result column="syrcd" jdbcType="VARCHAR" property="syrcd" />
    <result column="syotot" jdbcType="NUMERIC" property="syotot" />
    <result column="sytotc" jdbcType="NUMERIC" property="sytotc" />
    <result column="sywumd" jdbcType="VARCHAR" property="sywumd" />
    <result column="syvumd" jdbcType="VARCHAR" property="syvumd" />
    <result column="syautn" jdbcType="VARCHAR" property="syautn" />
    <result column="sycact" jdbcType="VARCHAR" property="sycact" />
    <result column="sycexp" jdbcType="NUMERIC" property="sycexp" />
    <result column="sycrmd" jdbcType="CHAR" property="sycrmd" />
    <result column="sycrrm" jdbcType="CHAR" property="sycrrm" />
    <result column="sycrcd" jdbcType="VARCHAR" property="sycrcd" />
    <result column="sycrr" jdbcType="NUMERIC" property="sycrr" />
    <result column="sylngp" jdbcType="VARCHAR" property="sylngp" />
    <result column="syfap" jdbcType="NUMERIC" property="syfap" />
    <result column="syfcst" jdbcType="NUMERIC" property="syfcst" />
    <result column="syorby" jdbcType="VARCHAR" property="syorby" />
    <result column="sytkby" jdbcType="VARCHAR" property="sytkby" />
    <result column="syurcd" jdbcType="VARCHAR" property="syurcd" />
    <result column="syurdt" jdbcType="DATE" property="syurdt" />
    <result column="syurat" jdbcType="NUMERIC" property="syurat" />
    <result column="syurab" jdbcType="NUMERIC" property="syurab" />
    <result column="syurrf" jdbcType="VARCHAR" property="syurrf" />
    <result column="sytorg" jdbcType="VARCHAR" property="sytorg" />
    <result column="syuser" jdbcType="VARCHAR" property="syuser" />
    <result column="sypid" jdbcType="VARCHAR" property="sypid" />
    <result column="syjobn" jdbcType="VARCHAR" property="syjobn" />
    <result column="syupmj" jdbcType="DATE" property="syupmj" />
    <result column="sytday" jdbcType="VARCHAR" property="sytday" />
    <result column="syir01" jdbcType="VARCHAR" property="syir01" />
    <result column="syir02" jdbcType="VARCHAR" property="syir02" />
    <result column="syir03" jdbcType="VARCHAR" property="syir03" />
    <result column="syir04" jdbcType="VARCHAR" property="syir04" />
    <result column="syir05" jdbcType="VARCHAR" property="syir05" />
    <result column="syvr03" jdbcType="VARCHAR" property="syvr03" />
    <result column="sysoor" jdbcType="NUMERIC" property="sysoor" />
    <result column="sypmdt" jdbcType="NUMERIC" property="sypmdt" />
    <result column="syrsdt" jdbcType="NUMERIC" property="syrsdt" />
    <result column="syrqsj" jdbcType="NUMERIC" property="syrqsj" />
    <result column="sypstm" jdbcType="NUMERIC" property="sypstm" />
    <result column="sypdtt" jdbcType="NUMERIC" property="sypdtt" />
    <result column="syoptt" jdbcType="NUMERIC" property="syoptt" />
    <result column="sydrqt" jdbcType="NUMERIC" property="sydrqt" />
    <result column="syadtm" jdbcType="NUMERIC" property="syadtm" />
    <result column="syadlj" jdbcType="NUMERIC" property="syadlj" />
    <result column="sypban" jdbcType="NUMERIC" property="sypban" />
    <result column="syitan" jdbcType="NUMERIC" property="syitan" />
    <result column="syftan" jdbcType="NUMERIC" property="syftan" />
    <result column="sydvan" jdbcType="NUMERIC" property="sydvan" />
    <result column="sydoc1" jdbcType="NUMERIC" property="sydoc1" />
    <result column="sydct4" jdbcType="VARCHAR" property="sydct4" />
    <result column="sycord" jdbcType="NUMERIC" property="sycord" />
    <result column="sybsc" jdbcType="VARCHAR" property="sybsc" />
    <result column="sybcrc" jdbcType="VARCHAR" property="sybcrc" />
    <result column="syrsht" jdbcType="NUMERIC" property="syrsht" />
    <result column="syhold" jdbcType="VARCHAR" property="syhold" />
    <result column="syfuf1" jdbcType="CHAR" property="syfuf1" />
    <result column="syauft" jdbcType="CHAR" property="syauft" />
    <result column="syaufi" jdbcType="CHAR" property="syaufi" />
    <result column="syopbo" jdbcType="VARCHAR" property="syopbo" />
    <result column="syoptc" jdbcType="NUMERIC" property="syoptc" />
    <result column="syopld" jdbcType="NUMERIC" property="syopld" />
    <result column="syopbk" jdbcType="NUMERIC" property="syopbk" />
    <result column="syopsb" jdbcType="NUMERIC" property="syopsb" />
    <result column="syopps" jdbcType="VARCHAR" property="syopps" />
    <result column="syoppl" jdbcType="CHAR" property="syoppl" />
    <result column="syopms" jdbcType="CHAR" property="syopms" />
    <result column="syopss" jdbcType="CHAR" property="syopss" />
    <result column="syopba" jdbcType="CHAR" property="syopba" />
    <result column="syopll" jdbcType="CHAR" property="syopll" />
    <result column="sypran8" jdbcType="NUMERIC" property="sypran8" />
    <result column="syprcidln" jdbcType="NUMERIC" property="syprcidln" />
    <result column="syoppid" jdbcType="NUMERIC" property="syoppid" />
    <result column="syccidln" jdbcType="NUMERIC" property="syccidln" />
    <result column="sysdattn" jdbcType="VARCHAR" property="sysdattn" />
    <result column="syshccidln" jdbcType="NUMERIC" property="syshccidln" />
    <result column="syspattn" jdbcType="VARCHAR" property="syspattn" />
    <result column="syotind" jdbcType="CHAR" property="syotind" />
    <result column="syexvar0" jdbcType="VARCHAR" property="syexvar0" />
    <result column="syexvar1" jdbcType="VARCHAR" property="syexvar1" />
    <result column="syexvar4" jdbcType="VARCHAR" property="syexvar4" />
    <result column="syexvar5" jdbcType="VARCHAR" property="syexvar5" />
    <result column="syexvar6" jdbcType="VARCHAR" property="syexvar6" />
    <result column="syexvar7" jdbcType="VARCHAR" property="syexvar7" />
    <result column="syexvar12" jdbcType="VARCHAR" property="syexvar12" />
    <result column="syexvar13" jdbcType="VARCHAR" property="syexvar13" />
    <result column="syexnm0" jdbcType="NUMERIC" property="syexnm0" />
    <result column="syexnm1" jdbcType="NUMERIC" property="syexnm1" />
    <result column="syexnm2" jdbcType="NUMERIC" property="syexnm2" />
    <result column="syexnmp0" jdbcType="NUMERIC" property="syexnmp0" />
    <result column="syexnmp1" jdbcType="NUMERIC" property="syexnmp1" />
    <result column="syexnmp2" jdbcType="NUMERIC" property="syexnmp2" />
    <result column="syexdt0" jdbcType="DATE" property="syexdt0" />
    <result column="syexdt1" jdbcType="DATE" property="syexdt1" />
    <result column="syexdt2" jdbcType="DATE" property="syexdt2" />
    <result column="sypohp01" jdbcType="CHAR" property="sypohp01" />
    <result column="sypohp02" jdbcType="CHAR" property="sypohp02" />
    <result column="sypohp03" jdbcType="CHAR" property="sypohp03" />
    <result column="sypohp04" jdbcType="CHAR" property="sypohp04" />
    <result column="sypohp05" jdbcType="CHAR" property="sypohp05" />
    <result column="sypohp06" jdbcType="CHAR" property="sypohp06" />
    <result column="sypohp07" jdbcType="CHAR" property="sypohp07" />
    <result column="sypohp08" jdbcType="CHAR" property="sypohp08" />
    <result column="sypohp09" jdbcType="CHAR" property="sypohp09" />
    <result column="sypohp10" jdbcType="CHAR" property="sypohp10" />
    <result column="sypohp11" jdbcType="CHAR" property="sypohp11" />
    <result column="sypohp12" jdbcType="CHAR" property="sypohp12" />
    <result column="sypohc01" jdbcType="VARCHAR" property="sypohc01" />
    <result column="sypohc02" jdbcType="VARCHAR" property="sypohc02" />
    <result column="sypohc03" jdbcType="VARCHAR" property="sypohc03" />
    <result column="sypohc04" jdbcType="VARCHAR" property="sypohc04" />
    <result column="sypohc05" jdbcType="VARCHAR" property="sypohc05" />
    <result column="sypohc06" jdbcType="VARCHAR" property="sypohc06" />
    <result column="sypohc07" jdbcType="VARCHAR" property="sypohc07" />
    <result column="sypohc08" jdbcType="VARCHAR" property="sypohc08" />
    <result column="sypohc09" jdbcType="VARCHAR" property="sypohc09" />
    <result column="sypohc10" jdbcType="VARCHAR" property="sypohc10" />
    <result column="sypohc11" jdbcType="VARCHAR" property="sypohc11" />
    <result column="sypohc12" jdbcType="VARCHAR" property="sypohc12" />
    <result column="sypohd01" jdbcType="NUMERIC" property="sypohd01" />
    <result column="sypohd02" jdbcType="NUMERIC" property="sypohd02" />
    <result column="sypohab01" jdbcType="NUMERIC" property="sypohab01" />
    <result column="sypohab02" jdbcType="NUMERIC" property="sypohab02" />
    <result column="sypohp13" jdbcType="VARCHAR" property="sypohp13" />
    <result column="sypohu01" jdbcType="DATE" property="sypohu01" />
    <result column="sypohu02" jdbcType="DATE" property="sypohu02" />
    <result column="syreti" jdbcType="CHAR" property="syreti" />
    <result column="syclass01" jdbcType="VARCHAR" property="syclass01" />
    <result column="syclass02" jdbcType="VARCHAR" property="syclass02" />
    <result column="syclass03" jdbcType="VARCHAR" property="syclass03" />
    <result column="syclass04" jdbcType="VARCHAR" property="syclass04" />
    <result column="syclass05" jdbcType="VARCHAR" property="syclass05" />
    <result column="sygan8" jdbcType="NUMERIC" property="sygan8" />
    <result column="sygshan" jdbcType="NUMERIC" property="sygshan" />
    <result column="sygpa8" jdbcType="NUMERIC" property="sygpa8" />
    <result column="sygcars" jdbcType="NUMERIC" property="sygcars" />
    <result column="sygpban" jdbcType="NUMERIC" property="sygpban" />
    <result column="sygitan" jdbcType="NUMERIC" property="sygitan" />
    <result column="sygftan" jdbcType="NUMERIC" property="sygftan" />
    <result column="sygdvan" jdbcType="NUMERIC" property="sygdvan" />
    <result column="sygpran8" jdbcType="NUMERIC" property="sygpran8" />
    <result column="syflag" jdbcType="CHAR" property="syflag" />
  </resultMap>
  <sql id="Base_Column_List">
    syedoc, syedct, syekco, syedty, syedsq, syedln, syedst, syedft, syeddt, syeder, syeddl, 
    syedsp, syedbt, sypnid, syofrq, synxdj, syssdj, sytpur, sykcoo, sydoco, sydcto, sysfxo, 
    symcu, syco, syokco, syoorn, syocto, syrkco, syrorn, syrcto, syan8, syshan, sypa8, 
    sydrqj, sytrdj, sypddj, syopdj, syaddj, sycndj, sypefj, syppdj, sypsdj, syvr01, sydel1, 
    syvr02, sydel2, syinmg, syptc, syryin, syasn, syprgp, sytrdc, sypcrt, sytxa1, syexr1, 
    sytxct, syatxt, syprio, syback, sysbal, syntr, syanby, sycars, symot, sycot, syrout, 
    systop, syzon, sycnid, syfrth, syaft, syrcd, syotot, sytotc, sywumd, syvumd, syautn, 
    sycact, sycexp, sycrmd, sycrrm, sycrcd, sycrr, sylngp, syfap, syfcst, syorby, sytkby, 
    syurcd, syurdt, syurat, syurab, syurrf, sytorg, syuser, sypid, syjobn, syupmj, sytday, 
    syir01, syir02, syir03, syir04, syir05, syvr03, sysoor, sypmdt, syrsdt, syrqsj, sypstm, 
    sypdtt, syoptt, sydrqt, syadtm, syadlj, sypban, syitan, syftan, sydvan, sydoc1, sydct4, 
    sycord, sybsc, sybcrc, syrsht, syhold, syfuf1, syauft, syaufi, syopbo, syoptc, syopld, 
    syopbk, syopsb, syopps, syoppl, syopms, syopss, syopba, syopll, sypran8, syprcidln, 
    syoppid, syccidln, sysdattn, syshccidln, syspattn, syotind, syexvar0, syexvar1, syexvar4, 
    syexvar5, syexvar6, syexvar7, syexvar12, syexvar13, syexnm0, syexnm1, syexnm2, syexnmp0, 
    syexnmp1, syexnmp2, syexdt0, syexdt1, syexdt2, sypohp01, sypohp02, sypohp03, sypohp04, 
    sypohp05, sypohp06, sypohp07, sypohp08, sypohp09, sypohp10, sypohp11, sypohp12, sypohc01, 
    sypohc02, sypohc03, sypohc04, sypohc05, sypohc06, sypohc07, sypohc08, sypohc09, sypohc10, 
    sypohc11, sypohc12, sypohd01, sypohd02, sypohab01, sypohab02, sypohp13, sypohu01, 
    sypohu02, syreti, syclass01, syclass02, syclass03, syclass04, syclass05, sygan8, 
    sygshan, sygpa8, sygcars, sygpban, sygitan, sygftan, sygdvan, sygpran8, syflag
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5011DO">
    insert into f58k5011 (
    <include refid="Base_Column_List"/>
    )
    values (#{syedoc,jdbcType=NUMERIC}, #{syedct,jdbcType=VARCHAR}, #{syekco,jdbcType=VARCHAR}, 
      #{syedty,jdbcType=CHAR}, #{syedsq,jdbcType=NUMERIC}, #{syedln,jdbcType=NUMERIC}, 
      #{syedst,jdbcType=VARCHAR}, #{syedft,jdbcType=VARCHAR}, #{syeddt,jdbcType=DATE}, 
      #{syeder,jdbcType=CHAR}, #{syeddl,jdbcType=NUMERIC}, #{syedsp,jdbcType=VARCHAR}, 
      #{syedbt,jdbcType=VARCHAR}, #{sypnid,jdbcType=VARCHAR}, #{syofrq,jdbcType=CHAR}, 
      #{synxdj,jdbcType=DATE}, #{syssdj,jdbcType=DATE}, #{sytpur,jdbcType=VARCHAR}, #{sykcoo,jdbcType=VARCHAR}, 
      #{sydoco,jdbcType=NUMERIC}, #{sydcto,jdbcType=VARCHAR}, #{sysfxo,jdbcType=VARCHAR}, 
      #{symcu,jdbcType=VARCHAR}, #{syco,jdbcType=VARCHAR}, #{syokco,jdbcType=VARCHAR}, 
      #{syoorn,jdbcType=VARCHAR}, #{syocto,jdbcType=VARCHAR}, #{syrkco,jdbcType=VARCHAR}, 
      #{syrorn,jdbcType=VARCHAR}, #{syrcto,jdbcType=VARCHAR}, #{syan8,jdbcType=NUMERIC}, 
      #{syshan,jdbcType=NUMERIC}, #{sypa8,jdbcType=NUMERIC}, #{sydrqj,jdbcType=DATE}, 
      #{sytrdj,jdbcType=DATE}, #{sypddj,jdbcType=DATE}, #{syopdj,jdbcType=DATE}, #{syaddj,jdbcType=DATE}, 
      #{sycndj,jdbcType=DATE}, #{sypefj,jdbcType=DATE}, #{syppdj,jdbcType=DATE}, #{sypsdj,jdbcType=DATE}, 
      #{syvr01,jdbcType=VARCHAR}, #{sydel1,jdbcType=VARCHAR}, #{syvr02,jdbcType=VARCHAR}, 
      #{sydel2,jdbcType=VARCHAR}, #{syinmg,jdbcType=VARCHAR}, #{syptc,jdbcType=VARCHAR}, 
      #{syryin,jdbcType=CHAR}, #{syasn,jdbcType=VARCHAR}, #{syprgp,jdbcType=VARCHAR}, 
      #{sytrdc,jdbcType=NUMERIC}, #{sypcrt,jdbcType=NUMERIC}, #{sytxa1,jdbcType=VARCHAR}, 
      #{syexr1,jdbcType=VARCHAR}, #{sytxct,jdbcType=VARCHAR}, #{syatxt,jdbcType=CHAR}, 
      #{syprio,jdbcType=CHAR}, #{syback,jdbcType=CHAR}, #{sysbal,jdbcType=CHAR}, #{syntr,jdbcType=VARCHAR}, 
      #{syanby,jdbcType=NUMERIC}, #{sycars,jdbcType=NUMERIC}, #{symot,jdbcType=VARCHAR}, 
      #{sycot,jdbcType=VARCHAR}, #{syrout,jdbcType=VARCHAR}, #{systop,jdbcType=VARCHAR}, 
      #{syzon,jdbcType=VARCHAR}, #{sycnid,jdbcType=VARCHAR}, #{syfrth,jdbcType=VARCHAR}, 
      #{syaft,jdbcType=CHAR}, #{syrcd,jdbcType=VARCHAR}, #{syotot,jdbcType=NUMERIC}, 
      #{sytotc,jdbcType=NUMERIC}, #{sywumd,jdbcType=VARCHAR}, #{syvumd,jdbcType=VARCHAR}, 
      #{syautn,jdbcType=VARCHAR}, #{sycact,jdbcType=VARCHAR}, #{sycexp,jdbcType=NUMERIC}, 
      #{sycrmd,jdbcType=CHAR}, #{sycrrm,jdbcType=CHAR}, #{sycrcd,jdbcType=VARCHAR}, #{sycrr,jdbcType=NUMERIC}, 
      #{sylngp,jdbcType=VARCHAR}, #{syfap,jdbcType=NUMERIC}, #{syfcst,jdbcType=NUMERIC}, 
      #{syorby,jdbcType=VARCHAR}, #{sytkby,jdbcType=VARCHAR}, #{syurcd,jdbcType=VARCHAR}, 
      #{syurdt,jdbcType=DATE}, #{syurat,jdbcType=NUMERIC}, #{syurab,jdbcType=NUMERIC}, 
      #{syurrf,jdbcType=VARCHAR}, #{sytorg,jdbcType=VARCHAR}, #{syuser,jdbcType=VARCHAR}, 
      #{sypid,jdbcType=VARCHAR}, #{syjobn,jdbcType=VARCHAR}, #{syupmj,jdbcType=DATE}, 
      #{sytday,jdbcType=VARCHAR}, #{syir01,jdbcType=VARCHAR}, #{syir02,jdbcType=VARCHAR}, 
      #{syir03,jdbcType=VARCHAR}, #{syir04,jdbcType=VARCHAR}, #{syir05,jdbcType=VARCHAR}, 
      #{syvr03,jdbcType=VARCHAR}, #{sysoor,jdbcType=NUMERIC}, #{sypmdt,jdbcType=NUMERIC}, 
      #{syrsdt,jdbcType=NUMERIC}, #{syrqsj,jdbcType=NUMERIC}, #{sypstm,jdbcType=NUMERIC}, 
      #{sypdtt,jdbcType=NUMERIC}, #{syoptt,jdbcType=NUMERIC}, #{sydrqt,jdbcType=NUMERIC}, 
      #{syadtm,jdbcType=NUMERIC}, #{syadlj,jdbcType=NUMERIC}, #{sypban,jdbcType=NUMERIC}, 
      #{syitan,jdbcType=NUMERIC}, #{syftan,jdbcType=NUMERIC}, #{sydvan,jdbcType=NUMERIC}, 
      #{sydoc1,jdbcType=NUMERIC}, #{sydct4,jdbcType=VARCHAR}, #{sycord,jdbcType=NUMERIC}, 
      #{sybsc,jdbcType=VARCHAR}, #{sybcrc,jdbcType=VARCHAR}, #{syrsht,jdbcType=NUMERIC}, 
      #{syhold,jdbcType=VARCHAR}, #{syfuf1,jdbcType=CHAR}, #{syauft,jdbcType=CHAR}, #{syaufi,jdbcType=CHAR}, 
      #{syopbo,jdbcType=VARCHAR}, #{syoptc,jdbcType=NUMERIC}, #{syopld,jdbcType=NUMERIC}, 
      #{syopbk,jdbcType=NUMERIC}, #{syopsb,jdbcType=NUMERIC}, #{syopps,jdbcType=VARCHAR}, 
      #{syoppl,jdbcType=CHAR}, #{syopms,jdbcType=CHAR}, #{syopss,jdbcType=CHAR}, #{syopba,jdbcType=CHAR}, 
      #{syopll,jdbcType=CHAR}, #{sypran8,jdbcType=NUMERIC}, #{syprcidln,jdbcType=NUMERIC}, 
      #{syoppid,jdbcType=NUMERIC}, #{syccidln,jdbcType=NUMERIC}, #{sysdattn,jdbcType=VARCHAR}, 
      #{syshccidln,jdbcType=NUMERIC}, #{syspattn,jdbcType=VARCHAR}, #{syotind,jdbcType=CHAR}, 
      #{syexvar0,jdbcType=VARCHAR}, #{syexvar1,jdbcType=VARCHAR}, #{syexvar4,jdbcType=VARCHAR}, 
      #{syexvar5,jdbcType=VARCHAR}, #{syexvar6,jdbcType=VARCHAR}, #{syexvar7,jdbcType=VARCHAR}, 
      #{syexvar12,jdbcType=VARCHAR}, #{syexvar13,jdbcType=VARCHAR}, #{syexnm0,jdbcType=NUMERIC}, 
      #{syexnm1,jdbcType=NUMERIC}, #{syexnm2,jdbcType=NUMERIC}, #{syexnmp0,jdbcType=NUMERIC}, 
      #{syexnmp1,jdbcType=NUMERIC}, #{syexnmp2,jdbcType=NUMERIC}, #{syexdt0,jdbcType=DATE}, 
      #{syexdt1,jdbcType=DATE}, #{syexdt2,jdbcType=DATE}, #{sypohp01,jdbcType=CHAR}, 
      #{sypohp02,jdbcType=CHAR}, #{sypohp03,jdbcType=CHAR}, #{sypohp04,jdbcType=CHAR}, 
      #{sypohp05,jdbcType=CHAR}, #{sypohp06,jdbcType=CHAR}, #{sypohp07,jdbcType=CHAR}, 
      #{sypohp08,jdbcType=CHAR}, #{sypohp09,jdbcType=CHAR}, #{sypohp10,jdbcType=CHAR}, 
      #{sypohp11,jdbcType=CHAR}, #{sypohp12,jdbcType=CHAR}, #{sypohc01,jdbcType=VARCHAR}, 
      #{sypohc02,jdbcType=VARCHAR}, #{sypohc03,jdbcType=VARCHAR}, #{sypohc04,jdbcType=VARCHAR}, 
      #{sypohc05,jdbcType=VARCHAR}, #{sypohc06,jdbcType=VARCHAR}, #{sypohc07,jdbcType=VARCHAR}, 
      #{sypohc08,jdbcType=VARCHAR}, #{sypohc09,jdbcType=VARCHAR}, #{sypohc10,jdbcType=VARCHAR}, 
      #{sypohc11,jdbcType=VARCHAR}, #{sypohc12,jdbcType=VARCHAR}, #{sypohd01,jdbcType=NUMERIC}, 
      #{sypohd02,jdbcType=NUMERIC}, #{sypohab01,jdbcType=NUMERIC}, #{sypohab02,jdbcType=NUMERIC}, 
      #{sypohp13,jdbcType=VARCHAR}, #{sypohu01,jdbcType=DATE}, #{sypohu02,jdbcType=DATE}, 
      #{syreti,jdbcType=CHAR}, #{syclass01,jdbcType=VARCHAR}, #{syclass02,jdbcType=VARCHAR}, 
      #{syclass03,jdbcType=VARCHAR}, #{syclass04,jdbcType=VARCHAR}, #{syclass05,jdbcType=VARCHAR}, 
      #{sygan8,jdbcType=NUMERIC}, #{sygshan,jdbcType=NUMERIC}, #{sygpa8,jdbcType=NUMERIC}, 
      #{sygcars,jdbcType=NUMERIC}, #{sygpban,jdbcType=NUMERIC}, #{sygitan,jdbcType=NUMERIC}, 
      #{sygftan,jdbcType=NUMERIC}, #{sygdvan,jdbcType=NUMERIC}, #{sygpran8,jdbcType=NUMERIC}, 
      #{syflag,jdbcType=CHAR})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K5011DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58k5011
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>