<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58K4710DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4710DO">
    <id column="ckkcoo" jdbcType="CHAR" property="ckkcoo" />
    <id column="ckdoco" jdbcType="NUMERIC" property="ckdoco" />
    <id column="ckdcto" jdbcType="CHAR" property="ckdcto" />
    <id column="cklnid" jdbcType="NUMERIC" property="cklnid" />
    <result column="ckmmcu" jdbcType="CHAR" property="ckmmcu" />
    <result column="ckmcu" jdbcType="CHAR" property="ckmcu" />
    <result column="ckshan" jdbcType="NUMERIC" property="ckshan" />
    <result column="ckvr01" jdbcType="CHAR" property="ckvr01" />
    <result column="ckrkco" jdbcType="CHAR" property="ckrkco" />
    <result column="ckrorn" jdbcType="CHAR" property="ckrorn" />
    <result column="ckrcto" jdbcType="CHAR" property="ckrcto" />
    <result column="ckrlln" jdbcType="NUMERIC" property="ckrlln" />
    <result column="cklitm" jdbcType="CHAR" property="cklitm" />
    <result column="ckuorg" jdbcType="NUMERIC" property="ckuorg" />
    <result column="ckuom1" jdbcType="CHAR" property="ckuom1" />
    <result column="cksoqs" jdbcType="NUMERIC" property="cksoqs" />
    <result column="ckuom6" jdbcType="CHAR" property="ckuom6" />
    <result column="cktrdj" jdbcType="DATE" property="cktrdj" />
    <result column="ckaddj" jdbcType="DATE" property="ckaddj" />
    <result column="cke58ddrq" jdbcType="CHAR" property="cke58ddrq" />
    <result column="cke58fyrq" jdbcType="CHAR" property="cke58fyrq" />
    <result column="cklocn" jdbcType="CHAR" property="cklocn" />
    <result column="cklotn" jdbcType="CHAR" property="cklotn" />
    <result column="cku4dj" jdbcType="DATE" property="cku4dj" />
    <result column="ckmmej" jdbcType="DATE" property="ckmmej" />
    <result column="ckurcd" jdbcType="CHAR" property="ckurcd" />
    <result column="ckurdt" jdbcType="VARCHAR" property="ckurdt" />
    <result column="ckurat" jdbcType="NUMERIC" property="ckurat" />
    <result column="ckurab" jdbcType="NUMERIC" property="ckurab" />
    <result column="ckurrf" jdbcType="CHAR" property="ckurrf" />
    <result column="ckev01" jdbcType="CHAR" property="ckev01" />
    <result column="ckev02" jdbcType="CHAR" property="ckev02" />
    <result column="ckev03" jdbcType="CHAR" property="ckev03" />
    <result column="ckuser" jdbcType="CHAR" property="ckuser" />
    <result column="ckpid" jdbcType="CHAR" property="ckpid" />
    <result column="ckjobn" jdbcType="CHAR" property="ckjobn" />
    <result column="ckupmj" jdbcType="DATE" property="ckupmj" />
    <result column="ckupmt" jdbcType="BIGINT" property="ckupmt" />
    <result column="ckuprc" jdbcType="NUMERIC" property="ckuprc" />
    <result column="ckaexp" jdbcType="NUMERIC" property="ckaexp" />
    <result column="ckan8" jdbcType="NUMERIC" property="ckan8" />
    <result column="ckindate" jdbcType="DATE" property="ckindate" />
    <result column="ckinrmk" jdbcType="CHAR" property="ckinrmk" />
    <result column="ckredate" jdbcType="DATE" property="ckredate" />
    <result column="ckrermk" jdbcType="CHAR" property="ckrermk" />
    <result column="ckukid" jdbcType="NUMERIC" property="ckukid" />
    <result column="ckstatus" jdbcType="CHAR" property="ckstatus" />
    <result column="ckflag" jdbcType="CHAR" property="ckflag" />
    <result column="cktxr1" jdbcType="NUMERIC" property="cktxr1" />
    <result column="cktuprc" jdbcType="NUMERIC" property="cktuprc" />
    <result column="cktaexp" jdbcType="NUMERIC" property="cktaexp" />
    <result column="cketa" jdbcType="NUMERIC" property="cketa" />
  </resultMap>
  <sql id="Base_Column_List">
    ckkcoo, ckdoco, ckdcto, cklnid, ckmmcu, ckmcu, ckshan, ckvr01, ckrkco, ckrorn, ckrcto, 
    ckrlln, cklitm, ckuorg, ckuom1, cksoqs, ckuom6, cktrdj, ckaddj, cke58ddrq, cke58fyrq, 
    cklocn, cklotn, cku4dj, ckmmej, ckurcd, ckurdt, ckurat, ckurab, ckurrf, ckev01, ckev02, 
    ckev03, ckuser, ckpid, ckjobn, ckupmj, ckupmt, ckuprc, ckaexp, ckan8, ckindate, ckinrmk, 
    ckredate, ckrermk, ckukid, ckstatus, ckflag, cktxr1, cktuprc, cktaexp, cketa
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4710DO">
    insert into f58k4710 (
    <include refid="Base_Column_List"/>
    )
    values (#{ckkcoo,jdbcType=CHAR}, #{ckdoco,jdbcType=NUMERIC}, #{ckdcto,jdbcType=CHAR}, 
      #{cklnid,jdbcType=NUMERIC}, #{ckmmcu,jdbcType=CHAR}, #{ckmcu,jdbcType=CHAR}, #{ckshan,jdbcType=NUMERIC}, 
      #{ckvr01,jdbcType=CHAR}, #{ckrkco,jdbcType=CHAR}, #{ckrorn,jdbcType=CHAR}, #{ckrcto,jdbcType=CHAR}, 
      #{ckrlln,jdbcType=NUMERIC}, #{cklitm,jdbcType=CHAR}, #{ckuorg,jdbcType=NUMERIC}, 
      #{ckuom1,jdbcType=CHAR}, #{cksoqs,jdbcType=NUMERIC}, #{ckuom6,jdbcType=CHAR}, #{cktrdj,jdbcType=DATE}, 
      #{ckaddj,jdbcType=DATE}, #{cke58ddrq,jdbcType=CHAR}, #{cke58fyrq,jdbcType=CHAR}, 
      #{cklocn,jdbcType=CHAR}, #{cklotn,jdbcType=CHAR}, #{cku4dj,jdbcType=DATE}, #{ckmmej,jdbcType=DATE}, 
      #{ckurcd,jdbcType=CHAR}, #{ckurdt,jdbcType=VARCHAR}, #{ckurat,jdbcType=NUMERIC}, 
      #{ckurab,jdbcType=NUMERIC}, #{ckurrf,jdbcType=CHAR}, #{ckev01,jdbcType=CHAR}, #{ckev02,jdbcType=CHAR}, 
      #{ckev03,jdbcType=CHAR}, #{ckuser,jdbcType=CHAR}, #{ckpid,jdbcType=CHAR}, #{ckjobn,jdbcType=CHAR}, 
      #{ckupmj,jdbcType=DATE}, #{ckupmt,jdbcType=BIGINT}, #{ckuprc,jdbcType=NUMERIC}, 
      #{ckaexp,jdbcType=NUMERIC}, #{ckan8,jdbcType=NUMERIC}, #{ckindate,jdbcType=DATE}, 
      #{ckinrmk,jdbcType=CHAR}, #{ckredate,jdbcType=DATE}, #{ckrermk,jdbcType=CHAR}, 
      #{ckukid,jdbcType=NUMERIC}, #{ckstatus,jdbcType=CHAR}, #{ckflag,jdbcType=CHAR}, 
      #{cktxr1,jdbcType=NUMERIC}, #{cktuprc,jdbcType=NUMERIC}, #{cktaexp,jdbcType=NUMERIC}, 
      #{cketa,jdbcType=NUMERIC})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4710DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58k4710
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>