<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.mapper.F58K4772DOMapper">
  <resultMap id="BaseResultMap" type="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4772DO">
    <id column="szedoc" jdbcType="NUMERIC" property="szedoc" />
    <id column="szedct" jdbcType="VARCHAR" property="szedct" />
    <id column="szekco" jdbcType="CHAR" property="szekco" />
    <id column="szedln" jdbcType="NUMERIC" property="szedln" />
    <result column="szedty" jdbcType="CHAR" property="szedty" />
    <result column="szedsq" jdbcType="NUMERIC" property="szedsq" />
    <result column="szedst" jdbcType="CHAR" property="szedst" />
    <result column="szedft" jdbcType="CHAR" property="szedft" />
    <result column="szeddt" jdbcType="NUMERIC" property="szeddt" />
    <result column="szeder" jdbcType="CHAR" property="szeder" />
    <result column="szeddl" jdbcType="NUMERIC" property="szeddl" />
    <result column="szedsp" jdbcType="CHAR" property="szedsp" />
    <result column="szedbt" jdbcType="CHAR" property="szedbt" />
    <result column="szpnid" jdbcType="CHAR" property="szpnid" />
    <result column="szlsts" jdbcType="CHAR" property="szlsts" />
    <result column="szkcoo" jdbcType="CHAR" property="szkcoo" />
    <result column="szdoco" jdbcType="NUMERIC" property="szdoco" />
    <result column="szdcto" jdbcType="CHAR" property="szdcto" />
    <result column="szsfxo" jdbcType="CHAR" property="szsfxo" />
    <result column="szlnid" jdbcType="NUMERIC" property="szlnid" />
    <result column="szmcu" jdbcType="CHAR" property="szmcu" />
    <result column="szco" jdbcType="CHAR" property="szco" />
    <result column="szokco" jdbcType="CHAR" property="szokco" />
    <result column="szoorn" jdbcType="CHAR" property="szoorn" />
    <result column="szocto" jdbcType="CHAR" property="szocto" />
    <result column="szogno" jdbcType="NUMERIC" property="szogno" />
    <result column="szrkco" jdbcType="CHAR" property="szrkco" />
    <result column="szrorn" jdbcType="CHAR" property="szrorn" />
    <result column="szrcto" jdbcType="CHAR" property="szrcto" />
    <result column="szrlln" jdbcType="NUMERIC" property="szrlln" />
    <result column="szdmct" jdbcType="CHAR" property="szdmct" />
    <result column="szdmcs" jdbcType="NUMERIC" property="szdmcs" />
    <result column="szan8" jdbcType="NUMERIC" property="szan8" />
    <result column="szshan" jdbcType="NUMERIC" property="szshan" />
    <result column="szdrqj" jdbcType="NUMERIC" property="szdrqj" />
    <result column="sztrdj" jdbcType="NUMERIC" property="sztrdj" />
    <result column="szpddj" jdbcType="NUMERIC" property="szpddj" />
    <result column="szopdj" jdbcType="NUMERIC" property="szopdj" />
    <result column="szaddj" jdbcType="DATE" property="szaddj" />
    <result column="szcndj" jdbcType="NUMERIC" property="szcndj" />
    <result column="szpefj" jdbcType="NUMERIC" property="szpefj" />
    <result column="szppdj" jdbcType="NUMERIC" property="szppdj" />
    <result column="szpsdj" jdbcType="NUMERIC" property="szpsdj" />
    <result column="szdsvj" jdbcType="NUMERIC" property="szdsvj" />
    <result column="szdgl" jdbcType="NUMERIC" property="szdgl" />
    <result column="szpn" jdbcType="NUMERIC" property="szpn" />
    <result column="szvr01" jdbcType="CHAR" property="szvr01" />
    <result column="szvr02" jdbcType="CHAR" property="szvr02" />
    <result column="szitm" jdbcType="NUMERIC" property="szitm" />
    <result column="szlitm" jdbcType="CHAR" property="szlitm" />
    <result column="szaitm" jdbcType="CHAR" property="szaitm" />
    <result column="szcitm" jdbcType="CHAR" property="szcitm" />
    <result column="szlocn" jdbcType="CHAR" property="szlocn" />
    <result column="szlotn" jdbcType="CHAR" property="szlotn" />
    <result column="szfrgd" jdbcType="CHAR" property="szfrgd" />
    <result column="szthgd" jdbcType="CHAR" property="szthgd" />
    <result column="szfrmp" jdbcType="NUMERIC" property="szfrmp" />
    <result column="szthrp" jdbcType="NUMERIC" property="szthrp" />
    <result column="szdsc1" jdbcType="CHAR" property="szdsc1" />
    <result column="szdsc2" jdbcType="CHAR" property="szdsc2" />
    <result column="szlnty" jdbcType="CHAR" property="szlnty" />
    <result column="sznxtr" jdbcType="CHAR" property="sznxtr" />
    <result column="szlttr" jdbcType="CHAR" property="szlttr" />
    <result column="szrlit" jdbcType="CHAR" property="szrlit" />
    <result column="szpds1" jdbcType="CHAR" property="szpds1" />
    <result column="szpds2" jdbcType="CHAR" property="szpds2" />
    <result column="szpds3" jdbcType="CHAR" property="szpds3" />
    <result column="szpds4" jdbcType="CHAR" property="szpds4" />
    <result column="szpds5" jdbcType="CHAR" property="szpds5" />
    <result column="szpdp1" jdbcType="CHAR" property="szpdp1" />
    <result column="szpdp2" jdbcType="CHAR" property="szpdp2" />
    <result column="szpdp3" jdbcType="CHAR" property="szpdp3" />
    <result column="szpdp4" jdbcType="CHAR" property="szpdp4" />
    <result column="szpdp5" jdbcType="CHAR" property="szpdp5" />
    <result column="szuom" jdbcType="CHAR" property="szuom" />
    <result column="szuorg" jdbcType="NUMERIC" property="szuorg" />
    <result column="szuchg" jdbcType="NUMERIC" property="szuchg" />
    <result column="szuopn" jdbcType="NUMERIC" property="szuopn" />
    <result column="szurec" jdbcType="NUMERIC" property="szurec" />
    <result column="szcrec" jdbcType="NUMERIC" property="szcrec" />
    <result column="szurlv" jdbcType="NUMERIC" property="szurlv" />
    <result column="szotqy" jdbcType="CHAR" property="szotqy" />
    <result column="szprrc" jdbcType="NUMERIC" property="szprrc" />
    <result column="szaexp" jdbcType="NUMERIC" property="szaexp" />
    <result column="szachg" jdbcType="NUMERIC" property="szachg" />
    <result column="szaopn" jdbcType="NUMERIC" property="szaopn" />
    <result column="szarec" jdbcType="NUMERIC" property="szarec" />
    <result column="szarlv" jdbcType="NUMERIC" property="szarlv" />
    <result column="szftn1" jdbcType="NUMERIC" property="szftn1" />
    <result column="sztrlv" jdbcType="NUMERIC" property="sztrlv" />
    <result column="szprov" jdbcType="CHAR" property="szprov" />
    <result column="szamc3" jdbcType="NUMERIC" property="szamc3" />
    <result column="szecst" jdbcType="NUMERIC" property="szecst" />
    <result column="szcsto" jdbcType="CHAR" property="szcsto" />
    <result column="szcsmp" jdbcType="CHAR" property="szcsmp" />
    <result column="szinmg" jdbcType="CHAR" property="szinmg" />
    <result column="szasn" jdbcType="CHAR" property="szasn" />
    <result column="szprgr" jdbcType="CHAR" property="szprgr" />
    <result column="szclvl" jdbcType="CHAR" property="szclvl" />
    <result column="szcatn" jdbcType="CHAR" property="szcatn" />
    <result column="szdspr" jdbcType="NUMERIC" property="szdspr" />
    <result column="szptc" jdbcType="CHAR" property="szptc" />
    <result column="sztx" jdbcType="CHAR" property="sztx" />
    <result column="szexr1" jdbcType="CHAR" property="szexr1" />
    <result column="sztxa1" jdbcType="CHAR" property="sztxa1" />
    <result column="szatxt" jdbcType="CHAR" property="szatxt" />
    <result column="szcnid" jdbcType="CHAR" property="szcnid" />
    <result column="szcdcd" jdbcType="CHAR" property="szcdcd" />
    <result column="szntr" jdbcType="CHAR" property="szntr" />
    <result column="szfrth" jdbcType="CHAR" property="szfrth" />
    <result column="szfrtc" jdbcType="CHAR" property="szfrtc" />
    <result column="szzon" jdbcType="CHAR" property="szzon" />
    <result column="szfrat" jdbcType="CHAR" property="szfrat" />
    <result column="szratt" jdbcType="CHAR" property="szratt" />
    <result column="szanby" jdbcType="NUMERIC" property="szanby" />
    <result column="szancr" jdbcType="NUMERIC" property="szancr" />
    <result column="szmot" jdbcType="CHAR" property="szmot" />
    <result column="szcot" jdbcType="CHAR" property="szcot" />
    <result column="szshcm" jdbcType="CHAR" property="szshcm" />
    <result column="szshcn" jdbcType="CHAR" property="szshcn" />
    <result column="szuom1" jdbcType="CHAR" property="szuom1" />
    <result column="szpqor" jdbcType="NUMERIC" property="szpqor" />
    <result column="szuom2" jdbcType="CHAR" property="szuom2" />
    <result column="szsqor" jdbcType="NUMERIC" property="szsqor" />
    <result column="szuom3" jdbcType="CHAR" property="szuom3" />
    <result column="szitwt" jdbcType="NUMERIC" property="szitwt" />
    <result column="szwtum" jdbcType="CHAR" property="szwtum" />
    <result column="szitvl" jdbcType="NUMERIC" property="szitvl" />
    <result column="szvlum" jdbcType="CHAR" property="szvlum" />
    <result column="szglc" jdbcType="CHAR" property="szglc" />
    <result column="szctry" jdbcType="NUMERIC" property="szctry" />
    <result column="szfy" jdbcType="NUMERIC" property="szfy" />
    <result column="szstts" jdbcType="CHAR" property="szstts" />
    <result column="szrcd" jdbcType="CHAR" property="szrcd" />
    <result column="szfuf1" jdbcType="CHAR" property="szfuf1" />
    <result column="szfuf2" jdbcType="CHAR" property="szfuf2" />
    <result column="szgrwt" jdbcType="NUMERIC" property="szgrwt" />
    <result column="szgwum" jdbcType="CHAR" property="szgwum" />
    <result column="szlt" jdbcType="CHAR" property="szlt" />
    <result column="szani" jdbcType="CHAR" property="szani" />
    <result column="szaid" jdbcType="CHAR" property="szaid" />
    <result column="szomcu" jdbcType="CHAR" property="szomcu" />
    <result column="szobj" jdbcType="CHAR" property="szobj" />
    <result column="szsub" jdbcType="CHAR" property="szsub" />
    <result column="szsblt" jdbcType="CHAR" property="szsblt" />
    <result column="szsbl" jdbcType="CHAR" property="szsbl" />
    <result column="szasid" jdbcType="CHAR" property="szasid" />
    <result column="szccmp" jdbcType="NUMERIC" property="szccmp" />
    <result column="sztag" jdbcType="CHAR" property="sztag" />
    <result column="szwr01" jdbcType="CHAR" property="szwr01" />
    <result column="szpl" jdbcType="CHAR" property="szpl" />
    <result column="szelev" jdbcType="CHAR" property="szelev" />
    <result column="szr001" jdbcType="CHAR" property="szr001" />
    <result column="szrtnr" jdbcType="CHAR" property="szrtnr" />
    <result column="szlcod" jdbcType="CHAR" property="szlcod" />
    <result column="szpurg" jdbcType="CHAR" property="szpurg" />
    <result column="szprom" jdbcType="CHAR" property="szprom" />
    <result column="szfnlp" jdbcType="CHAR" property="szfnlp" />
    <result column="szavch" jdbcType="CHAR" property="szavch" />
    <result column="szprpy" jdbcType="CHAR" property="szprpy" />
    <result column="szuncd" jdbcType="CHAR" property="szuncd" />
    <result column="szmaty" jdbcType="CHAR" property="szmaty" />
    <result column="szrtgc" jdbcType="CHAR" property="szrtgc" />
    <result column="szrcpf" jdbcType="CHAR" property="szrcpf" />
    <result column="szartg" jdbcType="CHAR" property="szartg" />
    <result column="szcord" jdbcType="NUMERIC" property="szcord" />
    <result column="szchdt" jdbcType="CHAR" property="szchdt" />
    <result column="szdocc" jdbcType="NUMERIC" property="szdocc" />
    <result column="szchln" jdbcType="NUMERIC" property="szchln" />
    <result column="szcrcd" jdbcType="CHAR" property="szcrcd" />
    <result column="szcrr" jdbcType="NUMERIC" property="szcrr" />
    <result column="szfrrc" jdbcType="NUMERIC" property="szfrrc" />
    <result column="szfea" jdbcType="NUMERIC" property="szfea" />
    <result column="szfuc" jdbcType="NUMERIC" property="szfuc" />
    <result column="szfec" jdbcType="NUMERIC" property="szfec" />
    <result column="szfchg" jdbcType="NUMERIC" property="szfchg" />
    <result column="szfap" jdbcType="NUMERIC" property="szfap" />
    <result column="szfrec" jdbcType="NUMERIC" property="szfrec" />
    <result column="szuret" jdbcType="NUMERIC" property="szuret" />
    <result column="szudmg" jdbcType="NUMERIC" property="szudmg" />
    <result column="szdgcd" jdbcType="CHAR" property="szdgcd" />
    <result column="szurej" jdbcType="NUMERIC" property="szurej" />
    <result column="szrjcd" jdbcType="CHAR" property="szrjcd" />
    <result column="szuiq1" jdbcType="NUMERIC" property="szuiq1" />
    <result column="szu1cd" jdbcType="CHAR" property="szu1cd" />
    <result column="szuiq2" jdbcType="NUMERIC" property="szuiq2" />
    <result column="szu2cd" jdbcType="CHAR" property="szu2cd" />
    <result column="szuiq3" jdbcType="NUMERIC" property="szuiq3" />
    <result column="szu3cd" jdbcType="CHAR" property="szu3cd" />
    <result column="szurcd" jdbcType="CHAR" property="szurcd" />
    <result column="szurdt" jdbcType="NUMERIC" property="szurdt" />
    <result column="szurat" jdbcType="NUMERIC" property="szurat" />
    <result column="szurab" jdbcType="NUMERIC" property="szurab" />
    <result column="szurrf" jdbcType="CHAR" property="szurrf" />
    <result column="sztorg" jdbcType="CHAR" property="sztorg" />
    <result column="szuser" jdbcType="CHAR" property="szuser" />
    <result column="szpid" jdbcType="CHAR" property="szpid" />
    <result column="szjobn" jdbcType="CHAR" property="szjobn" />
    <result column="szupmj" jdbcType="DATE" property="szupmj" />
    <result column="sztday" jdbcType="VARCHAR" property="sztday" />
    <result column="szbalu" jdbcType="CHAR" property="szbalu" />
    <result column="szmerl" jdbcType="CHAR" property="szmerl" />
    <result column="szktln" jdbcType="NUMERIC" property="szktln" />
    <result column="szcpnt" jdbcType="NUMERIC" property="szcpnt" />
    <result column="szbcrc" jdbcType="CHAR" property="szbcrc" />
    <result column="szshpn" jdbcType="NUMERIC" property="szshpn" />
    <result column="szps01" jdbcType="CHAR" property="szps01" />
    <result column="szps02" jdbcType="CHAR" property="szps02" />
    <result column="szps03" jdbcType="CHAR" property="szps03" />
    <result column="szps04" jdbcType="CHAR" property="szps04" />
    <result column="szps05" jdbcType="CHAR" property="szps05" />
    <result column="szps06" jdbcType="CHAR" property="szps06" />
    <result column="szps07" jdbcType="CHAR" property="szps07" />
    <result column="szps08" jdbcType="CHAR" property="szps08" />
    <result column="szps09" jdbcType="CHAR" property="szps09" />
    <result column="szps10" jdbcType="CHAR" property="szps10" />
    <result column="szcrmd" jdbcType="CHAR" property="szcrmd" />
    <result column="szchid" jdbcType="CHAR" property="szchid" />
    <result column="szchmj" jdbcType="NUMERIC" property="szchmj" />
    <result column="szcht" jdbcType="NUMERIC" property="szcht" />
    <result column="szctam" jdbcType="NUMERIC" property="szctam" />
    <result column="szftrl" jdbcType="NUMERIC" property="szftrl" />
    <result column="szmact" jdbcType="CHAR" property="szmact" />
    <result column="szdcd" jdbcType="NUMERIC" property="szdcd" />
    <result column="szdcp" jdbcType="NUMERIC" property="szdcp" />
    <result column="szndtp" jdbcType="NUMERIC" property="szndtp" />
    <result column="szpxdd" jdbcType="NUMERIC" property="szpxdd" />
    <result column="szpxdm" jdbcType="NUMERIC" property="szpxdm" />
    <result column="szdrqt" jdbcType="NUMERIC" property="szdrqt" />
    <result column="szrsht" jdbcType="NUMERIC" property="szrsht" />
    <result column="szplt" jdbcType="CHAR" property="szplt" />
    <result column="szpak" jdbcType="CHAR" property="szpak" />
    <result column="szsccn" jdbcType="CHAR" property="szsccn" />
    <result column="szsccq" jdbcType="NUMERIC" property="szsccq" />
    <result column="szscum" jdbcType="CHAR" property="szscum" />
    <result column="szupcn" jdbcType="CHAR" property="szupcn" />
    <result column="szupqt" jdbcType="NUMERIC" property="szupqt" />
    <result column="szupum" jdbcType="CHAR" property="szupum" />
    <result column="szvrmk" jdbcType="CHAR" property="szvrmk" />
    <result column="szlot1" jdbcType="CHAR" property="szlot1" />
    <result column="szlot2" jdbcType="CHAR" property="szlot2" />
    <result column="szrlot" jdbcType="CHAR" property="szrlot" />
    <result column="szlots" jdbcType="CHAR" property="szlots" />
    <result column="szmmej" jdbcType="NUMERIC" property="szmmej" />
    <result column="szldsc" jdbcType="CHAR" property="szldsc" />
    <result column="szdual" jdbcType="CHAR" property="szdual" />
    <result column="szxdck" jdbcType="CHAR" property="szxdck" />
    <result column="szlotc" jdbcType="CHAR" property="szlotc" />
    <result column="szvr03" jdbcType="CHAR" property="szvr03" />
    <result column="szldnm" jdbcType="NUMERIC" property="szldnm" />
    <result column="szmkfr" jdbcType="NUMERIC" property="szmkfr" />
    <result column="szbtan" jdbcType="NUMERIC" property="szbtan" />
    <result column="szctsn" jdbcType="CHAR" property="szctsn" />
    <result column="szgan8" jdbcType="NUMERIC" property="szgan8" />
    <result column="szgshan" jdbcType="NUMERIC" property="szgshan" />
    <result column="szgcars" jdbcType="NUMERIC" property="szgcars" />
    <result column="szgmkfr" jdbcType="NUMERIC" property="szgmkfr" />
    <result column="szgbtan" jdbcType="NUMERIC" property="szgbtan" />
    <result column="szorig" jdbcType="CHAR" property="szorig" />
    <result column="szindate" jdbcType="DATE" property="szindate" />
    <result column="szinrmk" jdbcType="CHAR" property="szinrmk" />
    <result column="szredate" jdbcType="DATE" property="szredate" />
    <result column="szrermk" jdbcType="CHAR" property="szrermk" />
    <result column="szukid" jdbcType="NUMERIC" property="szukid" />
    <result column="szstatus" jdbcType="CHAR" property="szstatus" />
    <result column="szflag" jdbcType="CHAR" property="szflag" />
  </resultMap>
  <sql id="Base_Column_List">
    szedoc, szedct, szekco, szedln, szedty, szedsq, szedst, szedft, szeddt, szeder, szeddl, 
    szedsp, szedbt, szpnid, szlsts, szkcoo, szdoco, szdcto, szsfxo, szlnid, szmcu, szco, 
    szokco, szoorn, szocto, szogno, szrkco, szrorn, szrcto, szrlln, szdmct, szdmcs, szan8, 
    szshan, szdrqj, sztrdj, szpddj, szopdj, szaddj, szcndj, szpefj, szppdj, szpsdj, szdsvj, 
    szdgl, szpn, szvr01, szvr02, szitm, szlitm, szaitm, szcitm, szlocn, szlotn, szfrgd, 
    szthgd, szfrmp, szthrp, szdsc1, szdsc2, szlnty, sznxtr, szlttr, szrlit, szpds1, szpds2, 
    szpds3, szpds4, szpds5, szpdp1, szpdp2, szpdp3, szpdp4, szpdp5, szuom, szuorg, szuchg, 
    szuopn, szurec, szcrec, szurlv, szotqy, szprrc, szaexp, szachg, szaopn, szarec, szarlv, 
    szftn1, sztrlv, szprov, szamc3, szecst, szcsto, szcsmp, szinmg, szasn, szprgr, szclvl, 
    szcatn, szdspr, szptc, sztx, szexr1, sztxa1, szatxt, szcnid, szcdcd, szntr, szfrth, 
    szfrtc, szzon, szfrat, szratt, szanby, szancr, szmot, szcot, szshcm, szshcn, szuom1, 
    szpqor, szuom2, szsqor, szuom3, szitwt, szwtum, szitvl, szvlum, szglc, szctry, szfy, 
    szstts, szrcd, szfuf1, szfuf2, szgrwt, szgwum, szlt, szani, szaid, szomcu, szobj, 
    szsub, szsblt, szsbl, szasid, szccmp, sztag, szwr01, szpl, szelev, szr001, szrtnr, 
    szlcod, szpurg, szprom, szfnlp, szavch, szprpy, szuncd, szmaty, szrtgc, szrcpf, szartg, 
    szcord, szchdt, szdocc, szchln, szcrcd, szcrr, szfrrc, szfea, szfuc, szfec, szfchg, 
    szfap, szfrec, szuret, szudmg, szdgcd, szurej, szrjcd, szuiq1, szu1cd, szuiq2, szu2cd, 
    szuiq3, szu3cd, szurcd, szurdt, szurat, szurab, szurrf, sztorg, szuser, szpid, szjobn, 
    szupmj, sztday, szbalu, szmerl, szktln, szcpnt, szbcrc, szshpn, szps01, szps02, szps03, 
    szps04, szps05, szps06, szps07, szps08, szps09, szps10, szcrmd, szchid, szchmj, szcht, 
    szctam, szftrl, szmact, szdcd, szdcp, szndtp, szpxdd, szpxdm, szdrqt, szrsht, szplt, 
    szpak, szsccn, szsccq, szscum, szupcn, szupqt, szupum, szvrmk, szlot1, szlot2, szrlot, 
    szlots, szmmej, szldsc, szdual, szxdck, szlotc, szvr03, szldnm, szmkfr, szbtan, szctsn, 
    szgan8, szgshan, szgcars, szgmkfr, szgbtan, szorig, szindate, szinrmk, szredate, 
    szrermk, szukid, szstatus, szflag
  </sql>

  <insert id="insert" parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4772DO">
    insert into f58k4772 (
    <include refid="Base_Column_List"/>
    )
    values (#{szedoc,jdbcType=NUMERIC}, #{szedct,jdbcType=VARCHAR}, #{szekco,jdbcType=CHAR}, 
      #{szedln,jdbcType=NUMERIC}, #{szedty,jdbcType=CHAR}, #{szedsq,jdbcType=NUMERIC}, 
      #{szedst,jdbcType=CHAR}, #{szedft,jdbcType=CHAR}, #{szeddt,jdbcType=NUMERIC}, #{szeder,jdbcType=CHAR}, 
      #{szeddl,jdbcType=NUMERIC}, #{szedsp,jdbcType=CHAR}, #{szedbt,jdbcType=CHAR}, #{szpnid,jdbcType=CHAR}, 
      #{szlsts,jdbcType=CHAR}, #{szkcoo,jdbcType=CHAR}, #{szdoco,jdbcType=NUMERIC}, #{szdcto,jdbcType=CHAR}, 
      #{szsfxo,jdbcType=CHAR}, #{szlnid,jdbcType=NUMERIC}, #{szmcu,jdbcType=CHAR}, #{szco,jdbcType=CHAR}, 
      #{szokco,jdbcType=CHAR}, #{szoorn,jdbcType=CHAR}, #{szocto,jdbcType=CHAR}, #{szogno,jdbcType=NUMERIC}, 
      #{szrkco,jdbcType=CHAR}, #{szrorn,jdbcType=CHAR}, #{szrcto,jdbcType=CHAR}, #{szrlln,jdbcType=NUMERIC}, 
      #{szdmct,jdbcType=CHAR}, #{szdmcs,jdbcType=NUMERIC}, #{szan8,jdbcType=NUMERIC}, 
      #{szshan,jdbcType=NUMERIC}, #{szdrqj,jdbcType=NUMERIC}, #{sztrdj,jdbcType=NUMERIC}, 
      #{szpddj,jdbcType=NUMERIC}, #{szopdj,jdbcType=NUMERIC}, #{szaddj,jdbcType=DATE}, 
      #{szcndj,jdbcType=NUMERIC}, #{szpefj,jdbcType=NUMERIC}, #{szppdj,jdbcType=NUMERIC}, 
      #{szpsdj,jdbcType=NUMERIC}, #{szdsvj,jdbcType=NUMERIC}, #{szdgl,jdbcType=NUMERIC}, 
      #{szpn,jdbcType=NUMERIC}, #{szvr01,jdbcType=CHAR}, #{szvr02,jdbcType=CHAR}, #{szitm,jdbcType=NUMERIC}, 
      #{szlitm,jdbcType=CHAR}, #{szaitm,jdbcType=CHAR}, #{szcitm,jdbcType=CHAR}, #{szlocn,jdbcType=CHAR}, 
      #{szlotn,jdbcType=CHAR}, #{szfrgd,jdbcType=CHAR}, #{szthgd,jdbcType=CHAR}, #{szfrmp,jdbcType=NUMERIC}, 
      #{szthrp,jdbcType=NUMERIC}, #{szdsc1,jdbcType=CHAR}, #{szdsc2,jdbcType=CHAR}, #{szlnty,jdbcType=CHAR}, 
      #{sznxtr,jdbcType=CHAR}, #{szlttr,jdbcType=CHAR}, #{szrlit,jdbcType=CHAR}, #{szpds1,jdbcType=CHAR}, 
      #{szpds2,jdbcType=CHAR}, #{szpds3,jdbcType=CHAR}, #{szpds4,jdbcType=CHAR}, #{szpds5,jdbcType=CHAR}, 
      #{szpdp1,jdbcType=CHAR}, #{szpdp2,jdbcType=CHAR}, #{szpdp3,jdbcType=CHAR}, #{szpdp4,jdbcType=CHAR}, 
      #{szpdp5,jdbcType=CHAR}, #{szuom,jdbcType=CHAR}, #{szuorg,jdbcType=NUMERIC}, #{szuchg,jdbcType=NUMERIC}, 
      #{szuopn,jdbcType=NUMERIC}, #{szurec,jdbcType=NUMERIC}, #{szcrec,jdbcType=NUMERIC}, 
      #{szurlv,jdbcType=NUMERIC}, #{szotqy,jdbcType=CHAR}, #{szprrc,jdbcType=NUMERIC}, 
      #{szaexp,jdbcType=NUMERIC}, #{szachg,jdbcType=NUMERIC}, #{szaopn,jdbcType=NUMERIC}, 
      #{szarec,jdbcType=NUMERIC}, #{szarlv,jdbcType=NUMERIC}, #{szftn1,jdbcType=NUMERIC}, 
      #{sztrlv,jdbcType=NUMERIC}, #{szprov,jdbcType=CHAR}, #{szamc3,jdbcType=NUMERIC}, 
      #{szecst,jdbcType=NUMERIC}, #{szcsto,jdbcType=CHAR}, #{szcsmp,jdbcType=CHAR}, #{szinmg,jdbcType=CHAR}, 
      #{szasn,jdbcType=CHAR}, #{szprgr,jdbcType=CHAR}, #{szclvl,jdbcType=CHAR}, #{szcatn,jdbcType=CHAR}, 
      #{szdspr,jdbcType=NUMERIC}, #{szptc,jdbcType=CHAR}, #{sztx,jdbcType=CHAR}, #{szexr1,jdbcType=CHAR}, 
      #{sztxa1,jdbcType=CHAR}, #{szatxt,jdbcType=CHAR}, #{szcnid,jdbcType=CHAR}, #{szcdcd,jdbcType=CHAR}, 
      #{szntr,jdbcType=CHAR}, #{szfrth,jdbcType=CHAR}, #{szfrtc,jdbcType=CHAR}, #{szzon,jdbcType=CHAR}, 
      #{szfrat,jdbcType=CHAR}, #{szratt,jdbcType=CHAR}, #{szanby,jdbcType=NUMERIC}, #{szancr,jdbcType=NUMERIC}, 
      #{szmot,jdbcType=CHAR}, #{szcot,jdbcType=CHAR}, #{szshcm,jdbcType=CHAR}, #{szshcn,jdbcType=CHAR}, 
      #{szuom1,jdbcType=CHAR}, #{szpqor,jdbcType=NUMERIC}, #{szuom2,jdbcType=CHAR}, #{szsqor,jdbcType=NUMERIC}, 
      #{szuom3,jdbcType=CHAR}, #{szitwt,jdbcType=NUMERIC}, #{szwtum,jdbcType=CHAR}, #{szitvl,jdbcType=NUMERIC}, 
      #{szvlum,jdbcType=CHAR}, #{szglc,jdbcType=CHAR}, #{szctry,jdbcType=NUMERIC}, #{szfy,jdbcType=NUMERIC}, 
      #{szstts,jdbcType=CHAR}, #{szrcd,jdbcType=CHAR}, #{szfuf1,jdbcType=CHAR}, #{szfuf2,jdbcType=CHAR}, 
      #{szgrwt,jdbcType=NUMERIC}, #{szgwum,jdbcType=CHAR}, #{szlt,jdbcType=CHAR}, #{szani,jdbcType=CHAR}, 
      #{szaid,jdbcType=CHAR}, #{szomcu,jdbcType=CHAR}, #{szobj,jdbcType=CHAR}, #{szsub,jdbcType=CHAR}, 
      #{szsblt,jdbcType=CHAR}, #{szsbl,jdbcType=CHAR}, #{szasid,jdbcType=CHAR}, #{szccmp,jdbcType=NUMERIC}, 
      #{sztag,jdbcType=CHAR}, #{szwr01,jdbcType=CHAR}, #{szpl,jdbcType=CHAR}, #{szelev,jdbcType=CHAR}, 
      #{szr001,jdbcType=CHAR}, #{szrtnr,jdbcType=CHAR}, #{szlcod,jdbcType=CHAR}, #{szpurg,jdbcType=CHAR}, 
      #{szprom,jdbcType=CHAR}, #{szfnlp,jdbcType=CHAR}, #{szavch,jdbcType=CHAR}, #{szprpy,jdbcType=CHAR}, 
      #{szuncd,jdbcType=CHAR}, #{szmaty,jdbcType=CHAR}, #{szrtgc,jdbcType=CHAR}, #{szrcpf,jdbcType=CHAR}, 
      #{szartg,jdbcType=CHAR}, #{szcord,jdbcType=NUMERIC}, #{szchdt,jdbcType=CHAR}, #{szdocc,jdbcType=NUMERIC}, 
      #{szchln,jdbcType=NUMERIC}, #{szcrcd,jdbcType=CHAR}, #{szcrr,jdbcType=NUMERIC}, 
      #{szfrrc,jdbcType=NUMERIC}, #{szfea,jdbcType=NUMERIC}, #{szfuc,jdbcType=NUMERIC}, 
      #{szfec,jdbcType=NUMERIC}, #{szfchg,jdbcType=NUMERIC}, #{szfap,jdbcType=NUMERIC}, 
      #{szfrec,jdbcType=NUMERIC}, #{szuret,jdbcType=NUMERIC}, #{szudmg,jdbcType=NUMERIC}, 
      #{szdgcd,jdbcType=CHAR}, #{szurej,jdbcType=NUMERIC}, #{szrjcd,jdbcType=CHAR}, #{szuiq1,jdbcType=NUMERIC}, 
      #{szu1cd,jdbcType=CHAR}, #{szuiq2,jdbcType=NUMERIC}, #{szu2cd,jdbcType=CHAR}, #{szuiq3,jdbcType=NUMERIC}, 
      #{szu3cd,jdbcType=CHAR}, #{szurcd,jdbcType=CHAR}, #{szurdt,jdbcType=NUMERIC}, #{szurat,jdbcType=NUMERIC}, 
      #{szurab,jdbcType=NUMERIC}, #{szurrf,jdbcType=CHAR}, #{sztorg,jdbcType=CHAR}, #{szuser,jdbcType=CHAR}, 
      #{szpid,jdbcType=CHAR}, #{szjobn,jdbcType=CHAR}, #{szupmj,jdbcType=DATE}, #{sztday,jdbcType=VARCHAR}, 
      #{szbalu,jdbcType=CHAR}, #{szmerl,jdbcType=CHAR}, #{szktln,jdbcType=NUMERIC}, #{szcpnt,jdbcType=NUMERIC}, 
      #{szbcrc,jdbcType=CHAR}, #{szshpn,jdbcType=NUMERIC}, #{szps01,jdbcType=CHAR}, #{szps02,jdbcType=CHAR}, 
      #{szps03,jdbcType=CHAR}, #{szps04,jdbcType=CHAR}, #{szps05,jdbcType=CHAR}, #{szps06,jdbcType=CHAR}, 
      #{szps07,jdbcType=CHAR}, #{szps08,jdbcType=CHAR}, #{szps09,jdbcType=CHAR}, #{szps10,jdbcType=CHAR}, 
      #{szcrmd,jdbcType=CHAR}, #{szchid,jdbcType=CHAR}, #{szchmj,jdbcType=NUMERIC}, #{szcht,jdbcType=NUMERIC}, 
      #{szctam,jdbcType=NUMERIC}, #{szftrl,jdbcType=NUMERIC}, #{szmact,jdbcType=CHAR}, 
      #{szdcd,jdbcType=NUMERIC}, #{szdcp,jdbcType=NUMERIC}, #{szndtp,jdbcType=NUMERIC}, 
      #{szpxdd,jdbcType=NUMERIC}, #{szpxdm,jdbcType=NUMERIC}, #{szdrqt,jdbcType=NUMERIC}, 
      #{szrsht,jdbcType=NUMERIC}, #{szplt,jdbcType=CHAR}, #{szpak,jdbcType=CHAR}, #{szsccn,jdbcType=CHAR}, 
      #{szsccq,jdbcType=NUMERIC}, #{szscum,jdbcType=CHAR}, #{szupcn,jdbcType=CHAR}, #{szupqt,jdbcType=NUMERIC}, 
      #{szupum,jdbcType=CHAR}, #{szvrmk,jdbcType=CHAR}, #{szlot1,jdbcType=CHAR}, #{szlot2,jdbcType=CHAR}, 
      #{szrlot,jdbcType=CHAR}, #{szlots,jdbcType=CHAR}, #{szmmej,jdbcType=NUMERIC}, #{szldsc,jdbcType=CHAR}, 
      #{szdual,jdbcType=CHAR}, #{szxdck,jdbcType=CHAR}, #{szlotc,jdbcType=CHAR}, #{szvr03,jdbcType=CHAR}, 
      #{szldnm,jdbcType=NUMERIC}, #{szmkfr,jdbcType=NUMERIC}, #{szbtan,jdbcType=NUMERIC}, 
      #{szctsn,jdbcType=CHAR}, #{szgan8,jdbcType=NUMERIC}, #{szgshan,jdbcType=NUMERIC}, 
      #{szgcars,jdbcType=NUMERIC}, #{szgmkfr,jdbcType=NUMERIC}, #{szgbtan,jdbcType=NUMERIC}, 
      #{szorig,jdbcType=CHAR}, #{szindate,jdbcType=DATE}, #{szinrmk,jdbcType=CHAR}, #{szredate,jdbcType=DATE}, 
      #{szrermk,jdbcType=CHAR}, #{szukid,jdbcType=NUMERIC}, #{szstatus,jdbcType=CHAR}, 
      #{szflag,jdbcType=CHAR})
  </insert>

  <select id="select"
          parameterType="com.ztesoft.zsmart.nros.sbc.nrosuser.plugin.jde.dao.model.F58K4772DO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from f58k4772
    where 1=1
    <!--<if test="channelId != null">
      and channel_id = #{channelId}
    </if>-->
  </select>

</mapper>